<template>
    <require from="common/components/dropdown-select/dropdown-select"></require>

    <dropdown-select containerless
        values.bind="resourceKinds"
        value.bind="value"
        multiple.bind="multiSelect"
        disabled.bind="disabled"
        hide-clear-button.bind="hideClearButton"
        use-computed-width.bind="useComputedWidth">
        <template replace-part="option-template">
            ${option.label | inCurrentLanguage}
        </template>
    </dropdown-select>
</template>
