<div class="breadcrumbs">
    {% embed "redo/ancestors-list.twig" %}
        {% block itemSuffix %}
            &gt;
        {% endblock %}
    {% endembed %}
    {{resource | metadata('label')}}
</div>
