{% extends "redo/layout.twig" %}

{% if phase == 'resource-kind' %}
    {% set page_title = 'Deposit - resource kind' | trans %}
{% elseif phase == 'resources' %}
    {% set page_title = 'Deposit - collection' | trans %}
{% elseif phase == 'form' %}
    {% set page_title = 'Deposit - add' | trans %}
{% elseif phase == 'deposit-list' %}
    {% set page_title = 'My resources' | trans %}
{% endif %}

{% block content %}
    {% include "redo/title-bar.twig" %}
    {% include "redo/menu.twig" %}

    <div class="deposit"
        role="main">
        <div class="deposit-container">
            {% if phase == 'resource-kind' %}
                <h1>{{ 'Resource depositing - select resource kind' | trans }}</h1>
                {% include "redo/deposit/resource-kind-list.twig" %}
            {% elseif phase == 'resources' %}
                <h1>{{ 'Resource depositing - select collection' | trans }}</h1>
                {% include "redo/deposit/resources-list.twig" %}
            {% elseif phase == 'form' %}
                <h1>{{ 'Resource depositing - resource data' | trans }}</h1>
                {% include "redo/deposit/deposit-form.twig" %}
            {% elseif phase == 'deposit-list' %}
                <h1>{{ 'My resources' | trans }}</h1>
                {% include "redo/deposit/deposit-list.twig" %}
            {% endif %}
        </div>
    </div>
    {% include "redo/footer.twig" %}
{% endblock %}
