{% extends "redo/layout.twig" %}

{% set page_title = 'Błąd' %}

{% block content %}
    {% include "redo/title-bar.twig" %}
    {% include "redo/menu.twig" %}

    <div class="form-group">
        <h1>Błąd</h1>
        <p>Strona, na którą trafiłeś {{ responseStatus == 404 ? 'nie istnieje' : 'spowodowała błąd aplikacji' }}.</p>
        {% if app.environment == 'dev' %}
            <code>{{ exception.message }}</code>
            <p>{{ exception.params ?? ( exception.previous.params ?? '') | json_encode }}</p>
            <pre><code>{{ exception.traceAsString }}</code></pre>
        {% endif %}
    </div>

    {% include "redo/footer.twig" %}
{% endblock %}
