<footer class="redo-footer">
    <div>
        <img class="horizontal"
            src="/files/images/powered-by-redo.svg">
        <img class="vertical"
            src="/files/images/powered-by-redo-with-additional-right-margin.svg">
        <div class="creative-commons-icons-with-description">
            <div>
                {{ icon('cc', 1.25) }}
                {{ icon('by', 1.25) }}
            </div>
            <span>Except where otherwise noted, content on this site is licensed under a Creative Commons Attribution
                4.0 International license.</span>
        </div>
    </div>
    <div>
        <img class="fe-and-edt-and-ue-logos horizontal"
            src="/files/images/fe-and-edt-and-ue-logos-without-required-margins.svg">
        <img class="fe-logo vertical"
            src="/files/images/fe-logo-without-required-margins-with-additional-right-one.svg">
        <img class="edt-logo vertical"
            src="/files/images/edt-logo-without-required-margins-with-additional-right-one.svg">
        <img class="ue-logo vertical"
            src="/files/images/ue-logo-without-required-margins.svg">
    </div>
</footer>
