<nav class="navbar navbar-info navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/about">
                    {{ applicationName }}
                    <repeka-version></repeka-version>
                    © 2016 - {{ 'now'|date('Y') }}
                </a>
            </li>
        </ul>
    </div>
</nav>
