<footer class="redo-footer">
    <div class="first-group">
        <img class="powered-by-redo-image horizontal"
            src="/files/redo/powered-by-redo.svg"
            alt="Powered by redo">
        <img class="powered-by-redo-image vertical"
            src="/files/redo/powered-by-redo-with-additional-right-margin.svg"
            alt="Powered by redo">
        <div class="creative-commons-icons-with-description">
            <div>
                {{ icon('cc', 1.25) }}
                {{ icon('by', 1.25) }}
            </div>
            <span>Except where otherwise noted, content on this site is licensed under a Creative Commons Attribution
                4.0 International license.</span>
        </div>
    </div>
    <div class="second-group for-regular-colors-mode">
        <img class="fe-and-edt-and-ue-logos horizontal"
            src="/files/redo/fe-and-edt-and-ue-logos-without-required-margins.svg"
            alt="Fundusze europejskie - Polska cyfrowa; Europejskie Dziedzictwo Techniczne;
                Unia Europejska - Europejski Fundusz Rozwoju Regionalnego">
        <img class="fe-logo vertical"
            src="/files/redo/fe-logo-without-required-margins-with-additional-right-one.svg"
            alt="Fundusze europejskie - Polska cyfrowa">
        <img class="edt-logo vertical"
            src="/files/redo/edt-logo-without-required-margins-with-additional-right-one.svg"
            alt="Europejskie Dziedzictwo Techniczne">
        <img class="ue-logo vertical"
            src="/files/redo/ue-logo-without-required-margins.svg"
            alt="Unia Europejska - Europejski Fundusz Rozwoju Regionalnego">
    </div>
    <div class="second-group for-high-contrast-mode">
        <img class="fe-and-edt-and-ue-logos horizontal"
            src="/files/redo/white-fe-and-edt-and-ue-logos-without-required-margins.svg"
            alt="Fundusze europejskie - Polska cyfrowa; Europejskie Dziedzictwo Techniczne;
                Unia Europejska - Europejski Fundusz Rozwoju Regionalnego">
        <img class="fe-logo vertical"
            src="/files/redo/white-fe-logo-without-required-margins-with-additional-right-one.svg"
            alt="Fundusze europejskie - Polska cyfrowa">
        <img class="edt-logo vertical"
            src="/files/redo/white-edt-logo-without-required-margins-with-additional-right-one.svg"
            alt="Europejskie Dziedzictwo Techniczne">
        <img class="ue-logo vertical"
            src="/files/redo/white-ue-logo-without-required-margins.svg"
            alt="Unia Europejska - Europejski Fundusz Rozwoju Regionalnego">
</footer>
