{% extends "redo/layout-with-navbar.twig" %}

{% set page_title = 'Strona główna' %}

{% block content %}
    <h1>{{ applicationName }}</h1>

    <redo-logo style="width: 150px"></redo-logo>
{% endblock %}
