{% extends "redo/layout.twig" %}

{% set page_title = 'Strona główna' %}

{% block banner %}
    <img class="banner"
    src="/files/images/banner.png">
{% endblock %}
{% block content %}
    <div class="content home-page-content">
        <search-bar></search-bar>
    </div>
{% endblock %}
