{% extends "redo/base.twig" %}
{% block layout %}
    <div class="main-container"
        local-storage-value="key: acceptedCookiesInformation; value.bind: acceptedCookiesInformation">
        {% block content %}{% endblock %}
        {% include "redo/cookies-information.twig" %}
    </div>
{% endblock %}
