<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <title>{% if page_title is defined %} {{ page_title }} - {% endif %}{{ applicationName }}</title>

    <link rel="stylesheet"
        type="text/css"
        href="/fonts.css">

    <link rel="icon"
        type="image/x-icon"
        href="{{ asset('favicon.ico') }}"/>

    {% include 'spa-components.twig' %}
</head>
<body>
<div class="vue-container">
    {% block top_bar %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</div>
</body>
</html>
