<div class="resource-image-placeholder {{ childrenAllowed ? 'horizontal' : '' }}">
    {% if childrenAllowed %}
        {{ icon('folder', 1, '0 0 36.63 28.073') }}
    {% else %}
        {{ icon('document', 1, '0 0 24.443 30.037') }}
    {% endif %}
</div>
