{% extends "redo/layout-with-navbar.twig" %}

{% set page_title = resource | m('-5') %}

{% block content %}
    <!-- Sample value from server side rendering: -->
    <h1>{{ resource | m('-5') }}</h1>

    <!-- Sample component from Vue.js: -->
    <redo-logo style="width: 150px"></redo-logo>
{% endblock %}
