{% extends "redo/layout.twig" %}

{% set page_title = resource | metadata('label') %}

{% block content %}
    <div class="resource-details">
        {% if resource | metadata('parent') | first %}
            {% include "redo/breadcrumbs.twig" %}
        {% endif %}
        <div class="search-bar-container">
            <search-bar display-as-smaller.bind="true"></search-bar>
        </div>
        <div class="details-container">
            {% if resource | metadata('parent') | first %}
                <div class="resource-ancestors">
                    <span>Kolekcja</span>
                    <div class="ancestors-list">
                        {% embed "redo/ancestors-list.twig" %}
                            {% block itemNamePrefix %}
                                <icon name="folder"></icon>
                            {% endblock %}
                        {% endembed %}
                    </div>
                </div>
            {% endif %}
            <div class="details">
                {% block details %}
                    <span class="resource-image">
                        {{ icon('book-2') }}
                    </span>
                    <div>
                        <h1>{{ resource | metadata('label') }}</h1>
                        {% for metadata in resource.kind.metadataList %}
                            {% set metadataValue = resource | metadata(metadata.id) | first %}
                            {% if metadataValue
                                and metadata.name != 'tytul'
                                and metadata.name != 'label'
                                and metadata.name != 'parent'
                                and metadata.control != 'display-strategy'
                                and metadata.control != 'wysiwyg-editor' %}
                                <p>
                                    <b>{{ metadata.label['PL'] | default(metadata.label | first) | default(metadata.name) }}:</b> {{ metadataValue }}
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
