<div class="search-bar-container {{search_bar_container_additional_classes ?? ''}}">
    <search-bar metadata-subsets.bind="[{ids: 'tytul,opis', label: 'Tytuł, Opis'}]"
        {% if selected_search_bar_metadata_subset is defined %}
            selected-metadata-subset-ids.bind="{{selected_search_bar_metadata_subset | json_encode}}"
        {% endif %}
        {% if search_bar_phrase is defined %}
            phrase.bind="{{search_bar_phrase | json_encode}}"
        {% endif %}
        display-as-smaller.bind="{{display_bigger_search_bar is defined and display_bigger_search_bar ? 'false' : 'true'}}"></search-bar>
</div>
