<div class="title-bar">
    <div class="logo-container">
        <redo-logo></redo-logo>
    </div>
    <div class="title-container">
        <span>REPOZYTORIUM</span>
        <span>POLITECHNIKI KRAKOWSKIEJ</span>
    </div>
    <div class="pk-logo-container">
        <img src="/files/images/pk-logo.svg">
    </div>
</div>