<div class="title-bar">
    <a class="logo-container"
        href="/">
        <img src="/files/images/rpk-logo.svg">
    </a>
    <div class="title-container">
        <span>REPOZYTORIUM</span>
        <span>POLITECHNIKI KRAKOWSKIEJ</span>
    </div>
    <div class="pk-logo-container">
        <img src="/files/images/pk-logo.svg">
    </div>
</div>
