@import "../../common/styles";

.workflow-form {
  .name-with-buttons-and-tabs .buttons {
    margin-left: auto;
  }
  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    & > :not(redo-footer) {
      &:not(.alert) {
        padding-bottom: $default-gap-size / 2;
        &:first-child {
          padding-top: $default-gap-size;
        }
        &:not(:first-child) {
          padding-top: $default-gap-size / 2;
        }
      }
      &.alert {
        margin-bottom: $default-gap-size / 2;
        &:first-child {
          margin-top: $default-gap-size;
        }
        &:not(:first-child) {
          margin-top: $default-gap-size / 2;
        }
      }
    }
    & > redo-footer {
      padding-top: $default-gap-size / 2;
    }
    & > :not(excel) {
      position: sticky;
      left: 0;
      &:not(redo-footer) {
        padding-left: $default-gap-size;
        padding-right: $default-gap-size;
      }
    }
    & > workflow-graph-display {
      flex-shrink: 0; // Required by Chromium.
    }
  }
}
