@import "../../../../common/styles";

$input-box-minimum-width: 100px;
$search-button-icon-width: 1em;

resource-list-metadata-filter {
  white-space: nowrap;
  display: inline-flex; // Otherwise the search button icon may be not fully visible or not visible at all for longer phrases.
  form {
    padding-left: $expected-space-between-inline-block-elements-width;
    .form-control {
      display: inline;
      min-width: $input-box-minimum-width;
      max-width: calc(100% - #{$search-button-icon-width} - #{$expected-space-between-inline-block-elements-width});
    }
  }
}
