<template>
    <require from="resources-config/metadata/metadata-chooser"></require>
    <require from="resources/add/metadata-value-input"></require>

    <form if.bind="resourceClass"
        class="form-inline"
        submit.delegate="findResources()">
        <div class="form-group">
            <metadata-chooser value.bind="metadata"
                resource-class.bind="resourceClass"
                control.one-time="['text', 'textarea']"></metadata-chooser>
        </div>
        <div class="form-group">
            <input type="text"
                class="form-control"
                value.bind="metadataValue.value"></div>
        <div class="btn-group">
            <button type="submit"
                class="btn btn-default"
                disabled.bind="disabled">
                <icon name="search"></icon>
            </button>
        </div>
    </form>
</template>
