$default-gap-size: 16px;

$default-transition-duration: 0.3s;

$default-font-size: 14px;
$title-font-size: 18px;
$subtitle-font-size: 16px;

$capital-letter-of-the-default-font-height: 0.714em;

$default-line-height: 1.42857143;

$default-sidebar-width: 275px;
$navigation-menu-item-icon-width-and-height: 22px;
$navigation-menu-item-icon-left-and-right-padding-size: 20px;
$collapsed-sidebar-width: 2 * $navigation-menu-item-icon-left-and-right-padding-size + $navigation-menu-item-icon-width-and-height;

$expected-scrollbar-width: 17px;
$expected-space-between-inline-block-elements-width: 4px;

$simple-form-column-gap-size: $default-gap-size;
$simple-form-row-gap-size: $default-gap-size / 2;

$default-input-box-height: 34px;

$collapse-and-expand-animations-duration: 0.4s;

$maximum-screen-width-for-mobile-layout: 420px;
$minimum-screen-width-for-regular-layout: $maximum-screen-width-for-mobile-layout + 1px;
