@import "../../common/styles";

.display-strategies-dirty-icon {
  color: $orange;
  transition: color $default-transition-duration;
}

tr:hover {
  .display-strategies-dirty-icon {
    color: $red;
  }
}
