@import "../../common/styles";

.resources-list {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "top-pagination                        add-button                           "
                         "form                                  form                                 "
                         "loading-bar                           loading-bar                          "
                         "resources-list-table                  resources-list-table                 "
                         "alert                                 alert                                "
                         "bottom-pagination-page-numbers        blank-space                          "
                         "bottom-pagination-dropdown-with-label bottom-pagination-dropdown-with-label";

    &.add-form-opened {
        grid-template-areas: "blank-space                           add-button                           "
                             "form                                  form                                 "
                             "top-pagination                        top-pagination                       "
                             "loading-bar                           loading-bar                          "
                             "resources-list-table                  resources-list-table                 "
                             "alert                                 alert                                "
                             "bottom-pagination-page-numbers        bottom-pagination-page-numbers       "
                             "bottom-pagination-dropdown-with-label bottom-pagination-dropdown-with-label";
    }

    & > .pagination-page-numbers {
        grid-area: bottom-pagination-page-numbers;
    }

    & > .pagination-dropdown-with-label {
        grid-area: bottom-pagination-dropdown-with-label;
    }

    pagination {
        grid-area: top-pagination;
        align-self: center;
    }

    add-button {
        grid-area: add-button;
    }

    .well {
        grid-area: form;
    }

    loading-bar {
        grid-area: loading-bar;
    }

    resources-list-table {
        grid-area: resources-list-table;
    }

    .alert {
        grid-area: alert;
    }
}
