@import "../../common/styles";

resources-list {
  .resources-list-title {
    padding-top: $default-gap-size / 2;
    padding-left: $default-gap-size / 2;
  }

  display: grid;
  // @formatter:off
  grid-template-areas: "form                                  form                                 "
                       "top-pagination                        add-button                           "
                       "loading-bar                           loading-bar                          "
                       "resources-list-table                  resources-list-table                 "
                       "alert                                 alert                                "
                       "bottom-pagination-page-numbers        .                                    "
                       "bottom-pagination-dropdown-with-label bottom-pagination-dropdown-with-label"
                       "slot                                  slot                                 ";
  // @formatter:on
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(7, min-content);

  &.add-form-opened {
    // @formatter:off
    grid-template-areas: "form                                  form                                 "
                         "top-pagination                        top-pagination                       "
                         "loading-bar                           loading-bar                          "
                         "resources-list-table                  resources-list-table                 "
                         "alert                                 alert                                "
                         "bottom-pagination-page-numbers        bottom-pagination-page-numbers       "
                         "bottom-pagination-dropdown-with-label bottom-pagination-dropdown-with-label"
                         "slot                                  slot                                 ";
    // @formatter:on
  }

  & > .pagination-page-numbers, & > .pagination-dropdown-with-label, pagination, .alert, redo-footer {
    position: sticky;
    left: 0;
  }

  & > .pagination-page-numbers, pagination {
    min-width: 100%;
  }

  & > .pagination-page-numbers {
    grid-area: bottom-pagination-page-numbers;
  }

  & > .pagination-dropdown-with-label {
    grid-area: bottom-pagination-dropdown-with-label;
  }

  & > .pagination-dropdown-with-label + * {
    grid-area: slot;
  }

  pagination {
    grid-area: top-pagination;
    align-self: end;
  }

  add-button {
    position: sticky;
    grid-area: add-button;
    left: 100%;
    width: 0%; // Required in Chromium to stop `add-button` from moving when scrolling horizontally.
    height: 100%;
    padding-top: $default-gap-size / 2;
    padding-bottom: $default-gap-size / 2;
    transform: translateX(-100%);
    white-space: nowrap;
    direction: rtl; //
    & > * { //
      direction: ltr; //
    } //
    & > toggle-button {
      margin-right: $default-gap-size / 2; // Both setting `padding-right` for `add-button` in Chromium
                                           // and `margin-right` for it in Firefox has seemed not to work well.
      &, & > div {
        height: 100%;
      }
    }
  }

  .add-form {
    grid-area: form;
  }

  loading-bar {
    grid-area: loading-bar;
  }

  .resource-list-table-container {
    grid-area: resources-list-table;
  }

  .alert {
    grid-area: alert;
  }
}

.resource-kind-chooser-with-cancel-button {
  $resource-kind-chooser-minimum-width: 100px;
  display: flex;
  align-items: center;
  padding-top: $default-gap-size / 4;
  padding-bottom: $default-gap-size / 4;
  flex-wrap: wrap;
  & > * {
    padding: $default-gap-size / 4 $default-gap-size / 2;
  }
  resource-kind-chooser {
    flex: 1;
    min-width: $resource-kind-chooser-minimum-width;
  }
  cancel-button {
    margin-left: auto;
  }
}
