throbber {
  & > svg {
    stroke: currentColor;
    @keyframes Rotate {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    animation: linear Rotate 1s infinite;
  }
  &.icon > svg {
    fill: none;
  }
}
