max-count-constraint-editor .form-inline {
  * + * .radio {
    margin-left: 20px;
  }

  .radio label {
    padding-left: 30px;
  }

  .spinner {
    display: inline-block;

    input {
      margin-left: 20px;
      margin-top: 8px;
      text-align: right;
      width: 60px;
    }
  }
}
