{% extends "RepekaWebsiteBundle::layout-with-navbar.html.twig" %}

{% set page_title = resource.displayStrategies.header %}

{% block content %}
    <!-- Sample value from server side rendering: -->
    <h1>{{ resource.displayStrategies.header }}</h1>

    <!-- Sample component from Vue.js: -->
    <redo-logo style="width: 150px"></redo-logo>
{% endblock %}
