@import "colors";
@import "variables";

$maximum-width: 960px;

.vue-container {
    display: flex;
    flex-direction: column;
    max-width: $maximum-width;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    font-family: "Open Sans", sans-serif;
    color: $default-text-color;
    .banner {
        width: 100%;
        height: 100%;
    }
    .content {
        padding: $default-gap-size;
    }
    a {
        cursor: pointer;
    }
    label {
        font-weight: normal;
        margin-bottom: 0;
    }
}
