.breadcrumbs {
    color: $grey;
    a {
        color: inherit;
        text-decoration: none;
        transition: color $default-transition-duration;
        &:hover, &:focus {
            color: $blue;
        }
    }
}
