@import "../../styles";

breadcrumbs {
  display: block;
  & > div {
    overflow: hidden;
    text-overflow: ellipsis;
    & > span > span {
      white-space: nowrap;
    }
    .semitransparent {
      @include opacity(.5);
    }
  }
}
