<template>
    <div if.bind="breadcrumbs.length"
        class="au-animate anim-height-inout-36 ${loading ? 'semitransparent' : ''}">
        <span repeat.for="breadcrumb of breadcrumbs">
            <span if.bind="!$last">
                <a route-href="route.bind: breadcrumb.route;
                    params.bind: breadcrumb.params;
                    replace.bind: breadcrumb.replace">${breadcrumb.label}</a>
                &gt;
            </span>
            <span else
                class="last">${breadcrumb.label}</span>
        </span>
    </div>
</template>
