<template>
    <button class="${!toggled || 'toggled'}"
        type="button"
        disabled.bind="disabled"
        click.trigger="onClick()">
        <div if.bind="secondaryIcon">
            <icon class="${toggled || 'visible'}"
                name="${primaryIcon}"
                size="1.25"></icon>
            <icon class="${!toggled || 'visible'}"
                name="${secondaryIcon}"
                size="1.25"></icon>
        </div>
        <icon else
            name="${primaryIcon}"
            size="1.25"></icon>
        <span if.bind="primaryLabel">${toggled ? displayedSecondaryLabel : displayedPrimaryLabel}</span>
    </button>
</template>
