<template bindable="iconName, submitting, editing, disabled">
    <button class="toggle-button"
        type="submit"
        disabled.bind="disabled || submitting">
        <div>
            <icon if.bind="!submitting"
                name.bind="iconName || (editing ? 'accept-2' : 'add')"
                size="1.25">
            </icon>
            <throbber else></throbber>
            <span><slot>${(editing ? 'Apply' : 'Add') | t}</slot></span>
        </div>
        <slot name="additional-information"></slot>
    </button>
</template>
