@import "../../styles";

submit-button {
    @include toggle-button(transparent, $blue);
    span {
        color: $default-text-color;
    }
    button:hover:not([disabled]) {
        background-color: $light-grey;
    }
}
