<template class="${toggled ? 'toggled' : ''} ${disabled ? 'disabled' : ''}">
    <button bootstrap-tooltip.bind="showTooltipsInsteadOfLabels ? toggled ? secondaryLabel : primaryLabel : '' | t"
        click.delegate="stopIfDisabled($event)">
        <div if.bind="secondaryIconName"
            class="icons">
            <icon class="${toggled ? '' : 'visible'}"
                name="${primaryIconName}"
                size="1.25"></icon>
            <icon class="${toggled ? 'visible' : ''}"
                name="${secondaryIconName}"
                size="1.25"></icon>
        </div>
        <icon else
            if.bind="primaryIconName"
            name="${primaryIconName}"
            size="1.25"></icon>
        <span if.bind="primaryLabel && !showTooltipsInsteadOfLabels">
            ${toggled ? secondaryLabel : primaryLabel | t}
            <template if.bind="!toggled && entityName">
                ${'entity_types::' + entityName | t:{context: 'accusative'} }
            </template>
        </span>
    </button>
    <div if.bind="disabled && !!disabilityReason"
        click.delegate="stopIfDisabled($event)">
        <icon class="disability-reason-icon"
            name.bind="disabilityReason.icon"
            bootstrap-tooltip.bind="disabilityReason.message | t"></icon>
    </div>
</template>
