@import "../../styles";

toggle-button {
  cursor: pointer;
  display: inline-block;
  @include unselectable();
}

toggle-button > div, .toggle-button {
  @include toggle-button();
}

$available-colors: (
  blue: $blue,
  orange: $orange,
  red: $red
);

@each $color-name, $color in $available-colors {
  .#{$color-name} toggle-button > div, toggle-button.#{$color-name} > div, .toggle-button.#{$color-name} {
    @include toggle-button-colors($color);
  }
  @each $second-color-name, $second-color in $available-colors {
    .#{$color-name} toggle-button.#{$second-color-name} > div {
      @include toggle-button-colors($color);
    }
  }
}
