@import "../../styles";

toggle-button, .toggle-button:not(button) {
  @include toggle-button();
}

button.toggle-button {
  @include toggle-button($button-wrapper: false);
}

$available-colors: (
  blue: $blue,
  orange: $orange,
  red: $red,
  grey: $grey
);

@each $color-name, $color in $available-colors {
  .#{$color-name} toggle-button, toggle-button.#{$color-name}, .toggle-button.#{$color-name}:not(button) {
    @include toggle-button-colors($color);
  }
  button.toggle-button.#{$color-name} {
    @include toggle-button-colors($color, $button-wrapper: false);
  }
  @each $second-color-name, $second-color in $available-colors {
    .#{$color-name} toggle-button.#{$second-color-name} {
      @include toggle-button-colors($color);
    }
  }
}
