<template click.trigger="stopIfDisabled($event)">
    <button class="${toggled ? 'toggled' : ''}"
        type="button"
        disabled.bind="disabled"
        bootstrap-tooltip.bind="(showTooltipsInsteadOfLabels ? toggled ? secondaryLabel : primaryLabel : '') | t">
        <div if.bind="secondaryIconName">
            <icon class="${toggled ? '' : 'visible'}"
                name="${primaryIconName}"
                size="1.25"></icon>
            <icon class="${toggled ? 'visible' : ''}"
                name="${secondaryIconName}"
                size="1.25"></icon>
        </div>
        <icon else
            name="${primaryIconName}"
            size="1.25"></icon>
        <span if.bind="primaryLabel && !showTooltipsInsteadOfLabels">
            ${(toggled ? secondaryLabel : primaryLabel) | t}
            <span if.bind="!toggled && entityName">
                ${'entity_types::' + entityName | t:{context: 'accusative'} }
            </span>
        </span>
    </button>
</template>
