<template>
    <require from="common/components/dropdown-select/dropdown-select"></require>

    <dropdown-select containerless
        values.bind="workflowPlaces"
        value.bind="value"
        multiple>
        <template replace-part="option-template">
            ${option.label | inCurrentLanguage}
            <div if.bind="option.workflow"
                class="small hidden-in-selection">
                ${ option.workflow.name | inCurrentLanguage }
            </div>
        </template>
    </dropdown-select>
</template>
