.idea/*
.vscode/*

/app/config/config_local.yml
/app/config/config_build.yml

/vendor/

/web/*
!/web/fonts.css
!/web/files/
/bin/symfony_requirements

node_modules/
*.log
npm-debug.log.*

/*.zip
/*.tar.gz
/*.sql
release/
*.bak
.env

package-lock.json
composer.phar
