@import "../../../common/styles";

tree-view {
  width: 100%;
  & .tree-search {
    display: flex;
    margin-bottom: $default-gap-size / 4;
    & span {
      align-self: center;
    }
    & input {
      width: 100%;
      margin-left: $default-gap-size / 2;
      margin-right: $default-gap-size / 2;
      background-color: white;
    }
    & icon {
      color: $blue;
      height: 1.5em;
      align-self: center;
      cursor: pointer;
    }
  }
  .tree-view {
    // https://github.com/mar10/fancytree/issues/277
    ul.ui-fancytree.fancytree-container {
      white-space: normal;
      span.fancytree-title {
        display: inline;
      }
    }
  }
}
