$main-container-maximum-width: 1100px;
$fieldset-border-width: 1px;
$fieldset-legend-line-height: 1px; // Some positive value seems required to have the fieldset border hidden.

.main-container {
  display: flex;
  flex-direction: column;
  max-width: $main-container-maximum-width;
  min-height: 100vh;
  height: 0; // For Internet Explorer to make `flex-grow` property of child elements work correctly: https://stackoverflow.com/a/42930574 .
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
  color: $default-text-color;
}

.banner {
  width: 100%;
  height: 100%;
}

.search-bar-container {
  display: flex;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}
h1 {
  font-size: $title-font-size;
}
h2 {
  font-size: $subtitle-font-size + 1px;
}
h3 {
  font-size: $subtitle-font-size;
}
h4 {
  font-size: $default-font-size + 1px;
}
h5 {
  font-size: $default-font-size - 1px;
}
h6 {
  font-size: $default-font-size - 2px;
}

hr {
  margin: 0;
  border-top: 1px solid $light-grey;
}

a {
  cursor: pointer;
  color: $blue;
  transition: color $default-transition-duration;
  &:hover, &:focus, &:active {
    color: $light-blue;
  }
}

button {
  border: none;
  background: none;
  padding: 0;
}

label {
  font-weight: normal;
  margin-bottom: 0;
}

fieldset {
  padding: $default-gap-size / 2;
  line-height: 0;
  border: $fieldset-border-width solid $light-grey;
  border-radius: $default-gap-size / 4;
  & > legend {
    width: initial;
    max-width: 100%;
    height: 1em;
    margin-bottom: calc(-1em / 2);
    padding-left: $default-gap-size / 2;
    padding-right: $default-gap-size / 2;
    line-height: 1em;
    border-bottom: 0;
    font-size: $default-font-size;
    white-space: nowrap;
    color: $grey;
    & > * {
      display: block;
      height: $default-line-height * 1em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.label-with-checkbox {
  cursor: pointer;
  display: block;
  input[type=checkbox] {
    display: none;
    & + ::before {
      display: inline-block;
      width: $checkbox-and-radio-button-width-and-height;
      height: $checkbox-and-radio-button-width-and-height;
      margin-right: $checkbox-and-radio-button-right-margin;
      content: '';
      vertical-align: calc((#{$capital-letter-of-the-default-font-height} - #{$checkbox-and-radio-button-width-and-height}) / 2);
      border: 1px solid $orange;
      border-radius: 25%;
    }
    &:checked + ::before {
      background: $orange;
      background: radial-gradient($orange 40%, transparent 40%);
    }
    & + * > * {
      display: inline-block;
      width: calc(100% - #{$checkbox-and-radio-button-width-and-height} - #{$checkbox-and-radio-button-right-margin});
      vertical-align: top;
    }
  }
}


.radio-buttons-group {
  display: inline-block;
  label {
    cursor: pointer;
    display: inline-block;
    &:not(:last-child) {
      margin-right: $default-gap-size / 2;
    }
    input[type=radio] {
      display: none;
      & + ::before {
        display: inline-block;
        width: $checkbox-and-radio-button-width-and-height;
        height: $checkbox-and-radio-button-width-and-height;
        margin-right: $checkbox-and-radio-button-right-margin;
        content: '';
        vertical-align: calc((#{$capital-letter-of-the-default-font-height} - #{$checkbox-and-radio-button-width-and-height}) / 2);
        border: 1px solid $orange;
        border-radius: 50%;
      }
      &:checked + ::before {
        background: $orange;
        background: radial-gradient($orange 40%, transparent 40%);
      }
    }
  }
}

.link-to-the-previous-page {
    align-self: flex-start;
    padding: $default-gap-size / 2 $default-gap-size / 4;
    .icon {
        margin-left: $default-gap-size / 4;
        margin-right: $default-gap-size / 4;
    }
}

#nprogress {
  div.bar {
    background: $orange;
    height: $default-gap-size / 4;
  }
  div.peg {
    box-shadow: 0 0 10px $orange, 0 0 5px $orange;
  }
}
