.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0; // Required by Chromium.
    padding: $default-gap-size / 2 $default-gap-size / 4;
    background-color: $very-light-grey;
    color: $grey;
    a, span {
        padding-left: $default-gap-size / 4;
        padding-right: $default-gap-size / 4;
    }
}
