@import "../../../../../src/AdminPanel/src/common/styles/mixins";

.deposit {
    .error-label, required-field-indicator, .validation-message {
        color: $secondary-accents-color;
    }
    input {
        color: $primary-text-color;
        border-color: $accents-color;
    }
    .highlighted input {
        background-color: $secondary-background-color;
    }
    .has-error .form-control {
        border-color: $secondary-accents-color;
        box-shadow: inset 0 0 1px $secondary-accents-color;
    }
    icon-button {
        @include icon-button($secondary-text-color);
    }
    submit-button {
        @include toggle-button-colors($secondary-background-color, $secondary-text-color);
    }
    toggle-button {
        @include toggle-button-colors($tertiary-background-color, $secondary-text-color);
    }
}
