$search-bar-width: 500px;

.big-search-bar {
  .search-bar {
    width: $search-bar-width;

    .search-box-with-options {
      width: 100%;
    }

    .metadata-subsets-chooser {
      display: flex !important;
    }

    .redo-logo-icon {
      padding-left: $default-gap-size / 4;
      padding-right: $default-gap-size / 4;
    }

    input {
      min-width: 0;
      margin: $default-gap-size / 2;
      font-size: 18px;
    }

    icon.redo-logo-icon, icon[name=search] {
      height: 2.5em;
    }
  }
}


.stats-home {
  margin-top: 20px;
  width: 100%;

  .sec-title {
    color: $light-blue;
    border-bottom: 3px solid $light-blue;
    margin-bottom: 15px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      width: 100%;
      display: flex;

      .item-label {
        width: 60%;
        margin-bottom: 10px;
      }

      .item-content {
        margin-left: auto;

        a {
          color: $default-text-color;
        }
      }
    }
  }
}
