.home-page-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0; // Required by Internet Explorer.
  &, .big-search-bar {
    padding: $default-gap-size / 2;
  }
  .big-search-bar {
    margin-top: auto;
    margin-bottom: auto;
  }
}
