.home-page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  &, .big-search-bar {
    padding: $default-gap-size / 2;
  }
  .big-search-bar {
    margin-top: auto;
    margin-bottom: auto;
  }
}
