$information-link-elements-color: $secondary-text-color;

$login-form-maximum-width: 300px;
$text-font-size: $subtitle-font-size;
$icons-drop-shadow-spread-radius: 5px;

.login-form-main-container {
  margin-bottom: $default-gap-size;

  .login-error-notification {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    padding: $default-gap-size / 2;
    background-color: $error-alert-background-color;
    color: $error-alert-text-color;
    border-color: $error-alert-border-color;
    &.alert {
      margin-bottom: 0;
      border-radius: 0;
    }
  }
  .error-message {
    flex-basis: 0;
    flex-grow: 1;
    margin-right: $default-gap-size / 2;
    padding: $default-gap-size / 2;
  }
  .close-button {
    margin: $default-gap-size / 2 $default-gap-size / 2 $default-gap-size / 2 auto;
    color: $primary-text-color;
    transition: color $default-transition-duration;
    &:not(:hover):not(:focus) {
      color: $tertiary-text-color;
    }
  }

  .title {
    margin-top: 0;
    margin-bottom: 0;
    padding: $default-gap-size / 2;
    text-align: center;
    font-weight: bold;
    color: $main-theme-color;
  }

  .login-container {
    padding: $default-gap-size / 2;
  }

  .form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: $login-form-maximum-width;
  }
  .input-box-with-icon {
    display: flex;
    align-items: center;
    .icon, input {
      margin: $default-gap-size / 2;
    }
    .icon {
      color: $main-theme-color;
    }
    input {
      flex-grow: 1;
    }
  }

  .submit-button {
    margin: $default-gap-size / 2;
  }

  .information-links-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: $default-gap-size / 2;
    & > * {
      &, & > :not(.icon) {
        padding: $default-gap-size / 4;
      }
      & > .icon {
        margin: $default-gap-size / 4;
      }
    }
    .information-link-element {
      cursor: pointer;
      display: inherit;
      align-items: center;
      text-decoration: none;
      &:hover, &:focus {
        filter: drop-shadow(0px 0px $icons-drop-shadow-spread-radius $information-link-elements-color);
      }
      &:focus {
        outline: unset;
      }
      .icon {
        color: $information-link-elements-color;
      }
      .information-link-text {
        flex: 1;
        color: $information-link-elements-color;
        font-weight: normal;
        font-size: $text-font-size;
        vertical-align: bottom;
      }
    }
  }
}
