@import "colors";

$image-height: 200px;

.report {
  margin-bottom: 20px;
  .report-page-header {
    text-align: center;
    margin: 30px 0;
  }

  .report-form-container {
    margin: 0 30px;
    padding-bottom: 1px;
    .report-form-content {
      background: $secondary-background-color;
      padding: 20px;
      span {
        font-weight: bold;
      }
      button.report-submit {
        width: 100%;
        padding: 5px 25px;
      }
    }
  }
}
