$image-height: 200px;

.resource-details {
    .details-container {
        padding: $default-gap-size / 2;
        .resource-ancestors {
            display: flex;
            align-items: center;
            justify-content: center;
            & > * {
                padding: $default-gap-size / 2;
            }
            & > span {
                font-weight: bold;
            }
            .ancestors-list {
                border-left: 1px solid $default-text-color;
                a {
                    display: block;
                    text-decoration: none;
                    color: $grey;
                    transition: color $default-transition-duration;
                    &:hover, &:focus {
                        color: $default-text-color;
                    }
                }
            }
        }
        .details {
            display: flex;
            .resource-image {
                flex-shrink: 0;
                margin: $default-gap-size / 2;
                padding: $default-gap-size;
                background-color: $very-light-grey;
                color: $lightish-grey;
                svg {
                    height: $image-height;
                }
            }
            & > div {
                & {
                    padding: 3 * $default-gap-size / 4 $default-gap-size / 2;
                }
                & > * {
                    padding: $default-gap-size / 4;
                }
            }
        }
    }
}
