$gap-size: $default-gap-size * 2;
$image-height: 100px;
$resource-image-with-title-container-with-actions-flex-grow: 10000;
$resource-image-with-title-container-with-actions-flex-basis: 300px;
$download-options-flex-grow: 1;

.resource-details {
    padding: $gap-size * 3 / 2;
    .top-container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        .resource-image-with-title-container-with-actions {
            display: flex;
            flex-grow: $resource-image-with-title-container-with-actions-flex-grow;
            flex-basis: $resource-image-with-title-container-with-actions-flex-basis;
            flex-wrap: wrap;
            .resource-image {
                padding: $gap-size / 2;
                & > * {
                    height: $image-height;
                }
                & > .icon {
                    color: $grey;
                }
            }
            .title-container-with-actions {
                display: flex;
                flex-direction: column;
                flex-basis: 0;
                flex-grow: 1;
                padding: $gap-size / 4;
                .title-container {
                    padding: $gap-size / 4;
                }
                .actions {
                    display: flex;
                    margin-top: auto;
                    margin-bottom: auto;
                    padding-top: $gap-size / 4;
                    padding-bottom: $gap-size / 4;
                    flex-wrap: wrap;
                    align-items: center;
                    & > * {
                        margin: $gap-size / 4;
                        color: $grey;
                        transition: color $default-transition-duration;
                        &:hover {
                            color: $dark-grey;
                        }
                    }
                }
            }
        }
        .download-options {
            margin-left: auto;
            max-width: 100%;
            flex-grow: $download-options-flex-grow;
            & > div {
                display: flex;
                align-items: center;
                padding: $gap-size / 4;
                & > * {
                    margin: $gap-size / 4;
                }
                .icon {
                    color: $grey;
                }
                fieldset {
                    flex: 1;
                    & > legend {
                        margin-top: calc(-1em / 2);
                    }
                }
            }
        }
    }
    .details {
        padding-top: $gap-size / 4;
        padding-bottom: $gap-size / 4;
        td {
            &:not(:only-child) {
                padding: $gap-size / 4 $gap-size / 2;
                &:first-child {
                    white-space: nowrap;
                    text-align: right;
                    color: $grey;
                }
                &:last-child {
                    width: 100%;
                }
            }
        }
    }
    .child-resources-list {
        .child-resources-list-item {
            display: flex;
            align-items: center;
            padding: $gap-size / 4;
            justify-content: space-between;
            &:not(:hover):not(:focus-within):not([focus-within]) {
                fieldset {
                    opacity: 0;
                    visibility: hidden;
                }
            }
            & > :not(fieldset) {
                padding: $gap-size / 4;
            }
            fieldset {
                margin: $gap-size / 4;
                transition: transitions-with-common-settings(visibility opacity, $default-transition-duration);
            }
        }
        hr {
            margin: $gap-size / 4 $gap-size / 2;
        }
    }
    .name-with-separator {
        padding: $gap-size * 5 / 4 $gap-size / 2 $gap-size / 4;
        display: flex;
        align-items: center;
        hr {
            flex: 1;
            margin-left: $gap-size / 2;
        }
    }
    .download-formats {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        & > * {
            padding: $gap-size / 8 $gap-size / 2;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
