.advanced-options, .advanced-filters {
  .section-title {
    padding: $default-gap-size / 4;
    color: $secondary-text-color;
  }
  .section-title + div:not(.property-options) {
    padding: $default-gap-size / 8;
  }
  .text-property-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    & > * {
      padding: $default-gap-size / 4;
    }
    & > :last-child {
      margin-left: auto;
    }
  }
  .form-group {
    &.filters {
      margin: 15px 0;
    }
  }
  .date-property-filter {
    width: 100%;
    display: inline-flex;
    align-items: center;
  }
  .property-options {
    padding-top: 2 * $default-gap-size / 8; // It's all because of the issue with `.property-name-container` margins.
    padding-left: $default-gap-size / 4; //
    padding-right: $default-gap-size / 4; //
    & > :not(.property-name-container):only-child .label-with-checkbox {
      padding-top: $default-gap-size / 8;
      padding-bottom: $default-gap-size / 8;
    }
    & > .property-name-container + div .label-with-checkbox {
      padding: $default-gap-size / 8;
    }
  }
  .property-name-container {
    display: flex;
    margin-top: $default-gap-size / 8; // Setting left and right margins doesn't seem to work well with `width: 100%`.
    margin-bottom: 2 * $default-gap-size / 8; //
    background-color: $tertiary-background-color;
    width: 100%;
    &, & > * {
      padding: $default-gap-size / 4;
    }
    & > :last-child {
      margin-left: auto;
    }
  }
  .property-name-container + div {
    padding-bottom: 2 * $default-gap-size / 8;
    padding-left: $default-gap-size / 8;
    padding-right: $default-gap-size / 8;
  }
  .parent {
    display: flex;
    & > :first-child {
      flex-grow: 1;
      &:not(:last-child) {
        margin-right: $default-gap-size / 4;
      }
    }
    & > :last-child:not(:first-child) {
      margin-left: auto;
      padding: $default-gap-size / 8;
    }
  }
  .label-with-checkbox {
    padding: $default-gap-size / 8;
  }
  .children {
    max-width: calc(100% - #{$checkbox-or-radio-button-width-and-height} - #{$checkbox-or-radio-button-right-margin});
    margin-left: $checkbox-or-radio-button-width-and-height + $checkbox-or-radio-button-right-margin;
  }
}
