@import "./colors";
$search-bar-width: 600px;
$advanced-options-column-border-width: 1px;

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  .search-box-with-expand-toggle {
    display: flex;
    flex-direction: column;
    padding: $default-gap-size * 3 / 8;
    width: $search-bar-width;
    max-width: 100%;
    .input-with-button {
      padding: $default-gap-size / 8;
      display: flex;
      input {
        flex-grow: 1;
        padding: $default-gap-size / 4 - 2 * $default-input-border-width $default-gap-size - $default-input-border-width;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: $title-font-size;
        outline: 0;
        &::placeholder {
          font-size: $default-font-size;
          font-style: italic;
        }
        &:focus {
          border-top-color: $secondary-accents-color;
          border-bottom-color: $secondary-accents-color;
          border-left-color: $secondary-accents-color;
        }
      }
      button {
        display: inline-block;
        padding: $default-gap-size / 2 $default-gap-size;
        border-top-right-radius: $default-gap-size / 4;
        border-bottom-right-radius: $default-gap-size / 4;
        background-color: $main-theme-color;
        color: $primary-background-color;
        &:focus {
          background-color: $light-blue;
        }
      }
    }
    .expand-toggle {
      align-self: flex-end;
      margin: $default-gap-size / 8;
      text-align: right;
      .icon {
        color: $accents-color;
      }
    }
  }

  .advanced-options {
    display: flex;
    align-self: stretch;
    margin: $default-gap-size / 2
      $default-gap-size / 2 - $advanced-options-column-border-width
      $default-gap-size / 2
      $default-gap-size / 2;
    flex-wrap: wrap;
    & > * {
      flex: 1;
      &:not(.property-options), &.property-options {
        padding: $default-gap-size / 4
          $default-gap-size * 3 / 4 + $advanced-options-column-border-width
          $default-gap-size / 4
          $default-gap-size * 3 / 4;
      }
      &:not(:first-child) {
        border-left: $advanced-options-column-border-width solid $default-border-color;
        margin-left: -$advanced-options-column-border-width; // To have the border hidden when column is wrapped.
      }
    }
  }

  .phrase-translation {
    font-size: smaller;
    .phrases {
      font-weight: bold;
    }
  }
}

:not(.title-with-search-bar) > .search-bar {
  flex-shrink: 0; // Required by Chromium.
  padding: $default-gap-size / 2;
}
