$icons-size: 1.5;
$checkbox-width-and-height: $default-gap-size;

.search-results-container {
  display: flex;
  flex: 1;
  .left-panel {
    max-width: 300px;
    padding: 3 * $default-gap-size / 4;
    & > :not(icon) {
      padding: $default-gap-size / 4;
    }
    & > icon {
      cursor: pointer;
      margin: $default-gap-size / 4;
    }
    &:not(.collapsed) {
      & > icon:not(:first-of-type) {
        display: none;
      }
    }
    &.collapsed {
      & > div {
        display: none;
      }
    }
    & > icon {
      color: $orange;
    }
    .facets {
      .label-with-checkbox {
        pointer-events: none;
      }
    }
    .advanced-filters {
      margin-top: $default-gap-size;
      padding-top: $default-gap-size;
      border-top: 2px solid $orange;
    }
  }
  .search-results {
    margin-top: $default-gap-size;
    margin-bottom: $default-gap-size;
    padding-left: $default-gap-size;
    padding-right: $default-gap-size;
    border-left: solid $default-gap-size / 8 $orange;
  }
  h1 {
    padding-bottom: $default-gap-size / 4;
    border-bottom: solid 1px $default-text-color;
  }
  .search-results {
    flex: 1;
    .search-result {
      display: flex;
      align-items: flex-start;
      flex: start;
      &:not(:last-of-type) {
        border-bottom: solid 1px $light-grey;
      }
      & > :not(icon) {
        padding: $default-gap-size / 2;
      }
      & > icon {
        font-size: $subtitle-font-size;
        margin: $default-gap-size / 2;
      }
      h3 {
        line-height: $icons-size;
      }
      .details {
        display: inline-block;
      }
      .highlights {
        em {
          font-style: normal;
          background-color: lighten($orange, $default-value-to-lighten-colors-by);
        }
      }
    }
  }
}

.label-with-checkbox {
  display: block;
  input[type=checkbox] {
    display: none;
    & + ::before {
      display: inline-block;
      width: $checkbox-width-and-height;
      height: $checkbox-width-and-height;
      margin-right: $default-gap-size / 4;
      content: '';
      vertical-align: calc((#{$capital-letter-of-the-default-font-height} - #{$checkbox-width-and-height}) / 2);
      border: 1px solid $orange;
      border-radius: 25%;
    }
    &:checked + ::before {
      background: $orange;
      background: radial-gradient($orange 40%, transparent 40%);
    }
  }
}

.advanced-filters {
  .children {
    padding-left: 10px;
  }
}
