$icons-size: 1.5;
$filters-panel-toggle-icon-height: 2em;
$filters-panel-width: 340px;

.search-results-search-bar {
  .search-bar {
    background-color: $primary-background-color;
    border-bottom: 1px solid $light-grey;
    .input-with-button {
      input {
        border-top-color: $main-theme-color;
        border-bottom-color: $main-theme-color;
        border-left-color: $main-theme-color;
      }
    }
  }
}
.search-results-container {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0; // Required by Chromium and Internet Explorer.
  flex-wrap: wrap;
  padding-top: $default-gap-size;
  padding-bottom: $default-gap-size;
  .filters-panel {
    button:focus {
      .toggle {
        color: $light-blue;
      }
    }
    margin-left: $default-gap-size;
    margin-right: $default-gap-size;
    padding-top: $default-gap-size / 2;
    padding-bottom: $default-gap-size / 2;
    border-bottom: $default-border-width $default-border-style $default-border-color;
    min-width: calc(100% - 2 * #{$default-gap-size});
    min-height: calc(#{$filters-panel-toggle-icon-height} + 4 * #{$default-gap-size / 4} + 2 * #{$default-gap-size / 2});
    &.collapsed, &.collapsing {
      .advanced-filters {
        opacity: 0;
        visibility: hidden;
      }
    }
    &.expanding, &.expanded {
      width: $filters-panel-width !important;
    }
    &.hidden-while-loading {
      display: none;
    }
    .title-with-toggle {
      display: flex;
      width: 100%;
      overflow: hidden;
      text-align: left;
      &, .title, .toggle {
        padding: $default-gap-size / 4;
      }
      .title {
        flex: 1;
        align-self: center;
        overflow: hidden;
      }
      .toggle {
        line-height: 0;
        .icon {
          height: $filters-panel-toggle-icon-height;
        }
      }
    }
    .advanced-filters {
      padding: $default-gap-size / 2 $default-gap-size;
      width: 100%;
      transition-property: opacity, visibility;
      transition-duration: $collapse-and-expand-animations-duration;
      & > :not(hr) {
        padding: $default-gap-size / 4;
      }
      button:focus {
        outline: -webkit-focus-ring-color auto 1px;
      }
      hr {
        margin-top: $default-gap-size;
        margin-bottom: $default-gap-size;
      }
      .filter-button-container {
        display: flex;
        align-items: center;
        & > :last-child {
          margin-left: auto;
        }
        & > * {
          padding: $default-gap-size / 4;
        }
      }
      .facets {
        & > * {
          &, & > :not(a) {
            padding: $default-gap-size / 8;
          }
        }
        a > label {
          pointer-events: none;
        }
      }
      .parent {
        display: flex;
        font-weight: bold;
        & > :first-child {
          flex-grow: 1;
          &:not(:last-child) {
            margin-right: $default-gap-size / 4;
          }
        }
        & > :last-child:not(:first-child) {
          margin-left: auto;
          padding: $default-gap-size / 8;
        }
      }
    }
  }
  .search-results {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100%;
    margin-top: $default-gap-size * 3 / 4;
    margin-bottom: $default-gap-size * 3 / 4;
    padding-left: $default-gap-size * 5 / 4;
    padding-right: $default-gap-size * 5 / 4;
    & > * {
      padding: $default-gap-size / 4;
    }
    .pagination {
      max-width: 100%;
      margin-top: auto;
    }
  }

  @media (min-width: $minimum-screen-width-for-regular-layout) {
    .filters-panel {
      min-width: calc(#{$filters-panel-toggle-icon-height} + 4 * #{$default-gap-size / 4} + 2 * #{$default-gap-size / 2});
      margin-left: 0;
      margin-right: 0;
      border-bottom: none;
      border-right: 2 * $default-border-width $default-border-style $default-border-color;
      padding-left: $default-gap-size / 2;
      padding-right: $default-gap-size / 2;
      &.collapsed, &.collapsing {
        .title-with-toggle {
          .title {
            opacity: 0;
            visibility: hidden;
            padding-right: 0;
          }
          .toggle {
            padding-left: 0;
          }
        }
      }
      .title-with-toggle {
        .title {
          transition-property: opacity, visibility, padding-right;
          transition-duration: $collapse-and-expand-animations-duration;
          text-align: left;
        }
        .toggle {
          transition: padding-left $collapse-and-expand-animations-duration;
        }
      }
      .advanced-filters {
        width: $filters-panel-width - 2 * $default-gap-size / 2 - 2 * $default-border-width;
      }
    }
  }
}
