.statistics {
    display: flex;
    flex-wrap: wrap;
    & > div {
        flex: 1;
        overflow: hidden;
        &, .list-element > * {
            padding: $default-gap-size / 4;
        }
        h4 {
            margin: $default-gap-size / 4;
        }
    }
    h4 {
        color: $blue;
        border-bottom: $default-gap-size / 8 solid $blue;
    }
    .list-element {
        display: flex;
        justify-content: space-between;
    }
    a {
        color: $default-text-color;
        span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .icon-container {
            flex-shrink: 0;
        }
    }

    @media (max-width: $maximum-screen-width-for-mobile-layout) {
        flex-wrap: wrap;
        & > div {
            max-width: 100%;
            overflow: initial;
        }
    }
}
