$logo-height: 70px;
$options-bar-icon-height: 1em;
$pk-logo-height: calc(#{$logo-height} - 2 * #{$default-gap-size / 8} - #{$options-bar-icon-height} - #{$default-gap-size / 2});

.title-bar {
  display: flex;
  flex-shrink: 0; // Required by Internet Explorer.
  align-items: center;
  background-color: $primary-background-color;
  &, & > :not(.right-side-container) {
    padding: $default-gap-size / 2;
  }
  .logo-container img {
    height: $logo-height;
  }
  .title-container {
    display: inline-block; // For browsers with worst or none Flexbox support.
    vertical-align: top; //
    color: $secondary-text-color;
    span {
      display: block;
      font-size: $title-font-size;
    }
  }
  .right-side-container {
    margin-left: auto;
    .options-bar {
      display: flex;
      padding-top: $default-gap-size / 2;
      & > * {
        display: flex;
        flex-wrap: nowrap;
      }
      .options-bar-item {
        color: $secondary-text-color;
        line-height: 1;
        padding: $default-gap-size / 8 $default-gap-size / 4;
        &:not(.menu-item) {
          transition: color $default-transition-duration;
        }
        &:hover, &:focus {
          color: $primary-text-color;
        }
      }
      .social-media-buttons {
        align-items: center;
        padding-left: $default-gap-size * 3 / 4;
        padding-right: $default-gap-size * 3 / 4;
      }
      .page-view-options {
        align-items: center;
        & > :not(:first-child) {
          border-left: $default-border-width $default-border-style $tertiary-text-color;
        }
        .page-view-option {
          margin-left: $default-gap-size / 4;
          margin-right: $default-gap-size / 4;
        }
      }
      .dropdown, .dropup {
        &.open .dropdown-toggle, &:hover .dropdown-toggle, .menu-item {
          color: $primary-text-color;
        }
      }
      .dropdown-menu {
        background-color: $quaternary-background-color;
      }
    }
    .pk-logo-container {
      display: flex;
      padding: $default-gap-size / 2;
      img {
        margin-left: auto;
        height: $pk-logo-height;
      }
    }
  }

  @media (max-width: $maximum-screen-width-for-mobile-layout) {
    flex-wrap: wrap;
    .title-container {
      order: 1;
    }
    .right-side-container {
      display: contents;
    }
    .options-bar {
      order: -1;
      width: 100%;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
    .pk-logo-container {
      margin-left: auto;
    }
  }
}
