$logo-height: 72px;
$title-font-size: 18px;
$pk-logo-height: 48px;

.title-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: $default-gap-size / 4 solid $orange;
  .logo-container, .pk-logo-container {
    padding: $default-gap-size / 2 $default-gap-size;
  }
  .logo-container {
    img {
      height: $logo-height;
    }
  }
  .pk-logo-container {
    margin-left: auto;
    img {
      height: $pk-logo-height;
    }
  }
}
