$default-gap-size: 16px;
$default-transition-duration: 0.2s;

$title-font-size: 18px;
$subtitle-font-size: 16px;
$default-font-size: 14px;

$default-line-height: 1.42857143;

$capital-letter-of-the-default-font-height: 0.714em;

$checkbox-and-radio-button-width-and-height: $default-gap-size;
$checkbox-and-radio-button-right-margin: $default-gap-size / 4;

$maximum-screen-width-for-mobile-layout: 420px;
$minimum-screen-width-for-regular-layout: $maximum-screen-width-for-mobile-layout + 1px;

$default-border-width: 1px;
$default-border-style: solid;
$default-border: $default-border-width $default-border-style $default-border-color;

$default-input-border-width: 1px;
$default-input-border-style: solid;

$default-panel-bottom-border-width: 1px;
$default-panel-bottom-border-style: solid;
