@import "../../styles";

.navigation-menu-item {
  display: block;
  &:hover, &.current:not(.expanded) {
    & > a {
      color: white;
      background-color: $grey;
    }
  }

  & > a {
    display: flex;
    align-items: center;
    color: $default-text-color;
    outline: none;
    @include transition(color .3s, background-color .3s);
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}
