<template class="nested-navigation-menu">
    <require from="../../routes/nested-navigation-value-converter"></require>

    <template repeat.for="item of router.navigation | nestedNavigation">
        <li class="${item.isActive || item.expanded ? 'current' : ''}"
            require-role.bind="item.settings.requiredRoles">
            <a if.bind="!item.children"
                href.bind="item.href"
                class="btn btn-default btn-block">
                <fa name.bind="item.settings.icon"
                    options="fw"></fa>
                ${'nav::' + item.title | t}
            </a>
            <a if.bind="item.children"
                class="btn btn-default btn-block"
                click.delegate="item.toggle()">
                <fa name="angle-right"
                    options.bind="item.expanded ? 'fw rotate-90': 'fw'"
                    class="pull-right"></fa>
                <fa name.bind="item.settings.icon"
                    options="fw"></fa>
                ${'nav::' + item.title | t}
            </a>
            <ul if.bind="item.expanded"
                class="nav-children anim-height-inout-150 au-animate">
                <template repeat.for="child of item.children">
                    <li class="${child.isActive ? 'current' : ''}"
                        require-role.bind="child.settings.requiredRoles">
                        <a href.bind="child.href"
                            class="btn btn-default btn-block">
                            ${'nav::' + child.title | t}
                        </a>
                    </li>
                </template>
            </ul>
        </li>
    </template>
</template>
