<template class="${collapsed ? 'collapsed' : ''}">
    <require from="./nested-navigation-menu"></require>
    <require from="common/components/redo-logo/redo-logo.html"></require>
    <require from="common/components/version-display/version-display"></require>

    <div class="title">
        <div>
            <redo-logo></redo-logo>
            <span>${'REDO ADMINISTRATION' | t}</span>
        </div>
    </div>

    <div class="with-overflow-scrollbar-on-the-left">
        <nested-navigation-menu></nested-navigation-menu>
        <ul>
            <li class="navigation-menu-item">
                <a click.delegate="collapsed = !collapsed">
                    <icon name="back-2"
                        rotation.bind="collapsed ? 180 : 0"></icon>
                    <span>${collapsed ? 'Expand' : 'Collapse' | t}</span>
                </a>
            </li>
        </ul>
    </div>
</template>
