@import "../../styles";

$default-sidebar-width: 275px;
$navigation-menu-item-icon-width-and-heigth: 22px;
$navigation-menu-item-icon-left-and-right-padding-size: 20px;
$collapsed-sidebar-width: 2 * $navigation-menu-item-icon-left-and-right-padding-size + $navigation-menu-item-icon-width-and-heigth;
$expected-scrollbar-width: 17px;
$logo-container-top-and-bottom-padding-size: 4px;
$navigation-menu-item-background-color-on-hover-when-sidebar-is-collapsed: white;
$navigation-menu-item-shadow-width: 5px;
$fold-animation-duration: 1s;

sidebar {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: $default-sidebar-width;
  transition: width $fold-animation-duration;

  .title-container {
    overflow: hidden;
    background-color: $light-grey;
    border-bottom: $orange solid $default-gap-size / 4;
    & > div {
      display: flex;
      width: $default-sidebar-width;
      align-items: center;
      redo-logo {
        box-sizing: content-box;
        width: $navigation-menu-item-icon-width-and-heigth;
        padding: $logo-container-top-and-bottom-padding-size $navigation-menu-item-icon-left-and-right-padding-size;
        color: $orange;
        background-color: $dark-grey;
      }
      span {
        flex: 1;
        flex-shrink: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        color: $grey;
      }
    }
  }

  .with-overflow-scrollbar-on-the-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    direction: rtl;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-y: overlay;
    & > * {
      direction: ltr;
    }
    & > ul {
      margin-top: auto;
      & > .navigation-menu-item > a:not(:hover) {
        background-color: $dark-grey;
        color: white;
      }
    }
    a {
      width: $default-sidebar-width;
      white-space: normal;
    }
    .navigation-menu-item {
      & > a {
        padding-top: $default-gap-size / 2;
        padding-bottom: $default-gap-size / 2;
        & > icon {
          height: $navigation-menu-item-icon-width-and-heigth;
          padding-left: $navigation-menu-item-icon-left-and-right-padding-size;
          padding-right: $navigation-menu-item-icon-left-and-right-padding-size;
        }
        & > span {
          padding-left: $default-gap-size / 2;
          padding-right: $default-gap-size / 2;
        }
      }
    }
    .navigation-menu-subitems {
      .navigation-menu-item > a > span {
        padding-left: 2 * $default-gap-size / 2;
      }
    }
    ul {
      margin-bottom: 0;
      padding-left: 0;
    }
  }

  &.collapsed {
    width: $collapsed-sidebar-width;
    .logo-container {
      transform: scale(.8) translate(-25%, 0);
    }
    .with-overflow-scrollbar-on-the-left {
      @keyframes KeepWidthOfTheParent {
        0% {
          width: auto;
        }
        100% {
          width: auto;
        }
      }
      animation: KeepWidthOfTheParent $fold-animation-duration;
      width: $default-sidebar-width + $expected-scrollbar-width + $navigation-menu-item-shadow-width;
      nested-navigation-menu > ul {
        width: $collapsed-sidebar-width;
      }
      ul:not(.navigation-menu-subitems) {
        & > .navigation-menu-item {
          @keyframes KeepFullWidthAndBoxShadowDisabled {
            0% {
              width: $default-sidebar-width;
              box-shadow: none;
            }
            100% {
              width: $default-sidebar-width;
              box-shadow: none;
            }
          }
          animation: KeepFullWidthAndBoxShadowDisabled $fold-animation-duration;
          width: $collapsed-sidebar-width;
          overflow: hidden;
          &:hover {
            width: $default-sidebar-width;
            background-color: $navigation-menu-item-background-color-on-hover-when-sidebar-is-collapsed;
            @include z-depth(1);
          }
        }
      }
    }
  }
}
