<template>
    <require from="./nested-navigation-menu"></require>
    <require from="common/components/repeka-logo/repeka-logo.html"></require>
    <require from="common/components/version-display/version-display"></require>

    <div class="navbar navbar-default bg-info z-depth-1">
        <div class="container-fluid"></div>
        <div class="navbar-header">
            <a class="navbar-brand"
                href="/">
                <div class="logo-container">
                    <repeka-logo class="admin-navbar"></repeka-logo>
                </div>
                RePeKa
            </a>
        </div>
    </div>

    <ul class="nav nav-pills nav-stacked"
        as-element="nested-navigation-menu"></ul>

    <div class="application-version">
        v
        <version-display></version-display>
    </div>

</template>
