@import "common/styles";
@import "../jspm_packages/npm/compass-mixins@0.12.10/lib/animation/animate/fading";

$admin-content-z-index-when-sidebar-is-collapsed: 0;
$floating-form-and-sticky-table-header-z-index: $admin-content-z-index-when-sidebar-is-collapsed + 1;
$top-bar-z-index: $floating-form-and-sticky-table-header-z-index + 1;
$collapsed-sidebar-elements-z-index-on-hover: $top-bar-z-index + 1;

$admin-content-left-border-width: $default-gap-size / 4;

$simple-form-text-input-box-minimum-width: 100px;
$simple-form-number-input-box-minimum-width: 75px;

body {
  font-family: 'Open Sans', sans-serif;
  color: $default-text-color;
}

sidebar.collapsed {
  .with-overflow-scrollbar-on-the-left > * > * > * {
    z-index: $admin-content-z-index-when-sidebar-is-collapsed;
    position: relative;
    &:hover {
      z-index: $collapsed-sidebar-elements-z-index-on-hover;
    }
  }
  & + .admin-content {
    z-index: $admin-content-z-index-when-sidebar-is-collapsed;
  }
}

.admin-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  border-left: $lightish-grey solid $admin-content-left-border-width;
  top-bar {
    z-index: $top-bar-z-index;
  }
  & > router-view {
    position: relative;
    flex: 1;
    overflow: auto;
    background-color: white;
    &, & > a, metadata-list {
      & > add-button {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.page-title {
  font-size: $title-font-size;
  font-weight: bold;
}

a {
  cursor: pointer;
  color: $blue;
  &:focus, &:hover {
    color: $light-blue;
  }
}

button {
  border: none;
  outline: none;
}

dl {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-bottom: 0;
}

h1, h2, h3, p {
  margin-top: $default-gap-size / 2;
  margin-bottom: $default-gap-size / 2;
}

label {
  margin-bottom: $default-gap-size / 4;
}

.tooltip {
  white-space: pre-wrap;
}

.button-parent {
  position: relative;
  z-index: 1;
}

.has-error .help-block {
  display: block;
}

.help-block {
  margin-top: 0;
  margin-bottom: 0;
}

.drag-handle {
  cursor: n-resize;
}

table {
  width: 100%;
  &:not(.transparent) {
    thead {
      th {
        position: sticky;
        top: 0;
        font-weight: normal;
        background-color: $grey;
        color: white;
      }
    }
    tbody {
      vertical-align: top;
      tr {
        @include transition(background-color .3s);
        &:nth-child(2n + 1) {
          background-color: $light-grey;
        }
        &:not(.edit-form):hover {
          background-color: $orange;
        }
        a {
          color: $default-text-color;
        }
      }
    }
    th, td {
      padding: $default-gap-size / 4;
      &:first-child {
        padding-left: $default-gap-size / 2;
      }
      &:last-child {
        padding-right: $default-gap-size / 2;
        &:empty {
          padding: 0;
          width: $default-gap-size / 4;
        }
      }
    }
    td.with-buttons-container {
      padding: 0;
      & > div {
        display: flex;
        justify-content: flex-end;
        & > * {
          margin: $default-gap-size / 4;
          padding: 0;
          background-color: initial;
          color: $blue;
          &.remove:not([disabled]) {
            color: $red;
          }
          &[disabled] {
            color: $grey;
          }
        }
        & > a {
          color: inherit;
        }
      }
    }
  }
  &.transparent {
    background: none;
  }
  td.with-throbber {
    width: 1em;
  }
}

.simple-form {
  display: grid;
  grid-template-columns: auto minmax(60%, 1fr);
  grid-column-gap: $default-gap-size;
  grid-row-gap: $default-gap-size / 2;
  & > span:not(.value):not(.validation-message) {
    font-weight: bold;
    & > icon {
        margin-left: $default-gap-size / 4;
    }
  }
  & > .full-width, & > .section-title, & > .validation-message {
    grid-column: 1/3;
  }
  & > .section-title {
    font-size: $subtitle-font-size;
  }
  input[type=text], dropdown-select, metadata-chooser {
    min-width: $simple-form-text-input-box-minimum-width;
  }
  input[type=number] {
    min-width: $simple-form-number-input-box-minimum-width;
    &:not(:first-child) {
      flex: 1;
      margin-left: $default-gap-size / 2;
    }
  }
  input[type=radio] {
    position: relative;
    top: 1px;
  }
}

.form-with-buttons {
  display: flex;
  & > .form-content {
    flex: 1;
    padding: $default-gap-size / 2;
  }
  & > .form-buttons {
    position: sticky;
    top: $default-gap-size / 2;
    display: flex;
    flex-direction: column;
    align-self: baseline;
    &, & > * {
      padding: $default-gap-size / 4;
    }
    & > * {
      white-space: nowrap;
    }
    button {
      width: 100%;
      text-align: left;
    }
  }
}

.validation-message {
  color: $red;
}

.no-margin-top {
  margin-top: 0 !important;
}

body > tr[oa-sortable-item] {
  display: none;
}

.btn-bottom-right {
  position: absolute;
  right: 25px;
  bottom: 25px;
  z-index: 10;
}

.btn-narrow {
  padding: 8px 10px;
  &.btn-sm {
    padding: 5px 7px;
  }
  &.btn-xs {
    padding: 4px 5px;
  }
}

.btn-invisible {
  cursor: default;
  background-color: transparent !important;
}

button.unstyled {
  background: none;
  border: none;
}

.btn-narrow {
  padding: 8px 10px;
  &.btn-sm {
    padding: 5px 7px;
  }
  &.btn-xs {
    padding: 4px 5px;
  }
}

input, textarea, select {
  &[disabled] {
    color: #999;
  }
}

input[type=checkbox], input[type=radio] {
  margin-top: 0;
}

textarea {
  resize: vertical;
}

.togglebutton label {
  color: #333;
}

.bootstrap-select {
  &.disabled > button {
    color: #999 !important;
  }
}

.well {
  padding: $default-gap-size / 2;
  margin-bottom: 0;
  &:not(.floating-form) {
    border-radius: 0;
  }
  &.floating-form {
    z-index: $floating-form-and-sticky-table-header-z-index;
    position: absolute;
    right: 0;
    border-top-right-radius: 0;
  }
}

.form-group {
  margin-bottom: 0;
  padding-top: $default-gap-size / 2;
  padding-bottom: $default-gap-size / 2;
}

.no-padding {
  padding: 0 !important;
}

.checkbox label, .radio label {
  color: grey;
}

.alert {
  margin-bottom: 0;
  padding: $default-gap-size;
  border: none;
  border-radius: 0;
  &.alert-info {
    background-color: $light-blue;
    color: white;
  }
}

.alert > .btn {
  margin-top: -8px;

  &.btn-sm {
    margin-top: -4px;
  }
}

.badge.badge-danger {
  background-color: red;
}

.diagram-cover {
  z-index: 999 !important; // Fix UI elements like menus displaying over graphs, but not interacting with mouse.
}

ux-dialog-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

// Z-depth helpers from MaterializeCSS.
// See: https://github.com/FezVrasta/bootstrap-material-design/issues/1109.

@for $i from 0 through 5 {
  .z-depth-#{$i} {
    @include z-depth($i);
  }
}

// Animations.
// See: http://blog.aurelia.io/2015/07/17/animating-apps-with-aurelia-part-1.
.au-stagger {
  -webkit-animation-delay: 30ms;
  animation-delay: 30ms;
}

.fade-inup-outdown {
  &.au-enter {
    opacity: 0 !important;
  }
  &.au-enter-active {
    @include animation(fadeInDown .3s);
  }
  &.au-leave-active {
    @include animation(fadeOutUp .3s);
  }
}

.fade-inup-outup {
  &.au-enter {
    opacity: 0 !important;
  }
  &.au-enter-active {
    @include animation(fadeInUp .3s);
  }
  &.au-leave-active {
    @include animation(fadeOutUp .3s);
  }
}

.name-with-buttons-and-tabs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: $default-gap-size / 4 solid $light-blue;
  & > :not(aup-tabs) {
    padding: $default-gap-size / 2;
  }
  aup-tabs {
    align-self: flex-end;
    margin-left: auto;
    padding-left: $default-gap-size / 2;
    & > ul {
      border: none;
      & > li {
        margin-bottom: 0;
        & > a {
          margin-right: 0;
          padding: $default-gap-size / 8 $default-gap-size / 2;
          border: 0;
          border-radius: 0;
          text-transform: uppercase;
          color: $default-text-color;
          @include transition(background-color .3s ease-out, color .3s ease-out);
          &.active, &:hover {
            background-color: $light-blue;
            color: white;
          }
          &.active {
            font-style: normal;
          }
        }
      }
    }
  }
}

// max-height animation, idea based on: http://stackoverflow.com/a/8331169/878514
@mixin anim-height-inout($max-height) {
  @include keyframes(heightIn#{$max-height}) {
    0% {
      max-height: 0;
    }
    100% {
      max-height: $max-height * 1px;
    }
  }

  @include keyframes(heightOut#{$max-height}) {
    0% {
      max-height: $max-height * 1px;
    }
    100% {
      max-height: 0;
    }
  }

  .anim-height-inout-#{$max-height} {
    &.au-enter-active {
      overflow: hidden;
      @include animation(heightIn#{$max-height} .3s);
    }
    &.au-leave-active {
      overflow: hidden;
      @include animation(heightOut#{$max-height} .3s);
    }
  }
}

@include anim-height-inout(15);
@include anim-height-inout(36);
@include anim-height-inout(150);
@include anim-height-inout(600);
@include anim-height-inout(900);
