@import "common/styles";
@import "../jspm_packages/npm/compass-mixins@0.12.10/lib/animation/animate/fading";

.admin-content {
  margin-left: 250px;
}

a {
  cursor: pointer;
}

.btn-fab:focus, .btn-fab:active {
  outline: 0 !important;
}

.has-error .help-block {
  display: block;
}

.well > .progress:first-child {
  margin-top: -19px;
  margin-left: -19px;
  margin-right: -19px;
  height: 5px;
}

.progress-bar-full {
  width: 100%;
}

@include on-sm-and-down {
  sidebar {
    &, > ul.side-nav {
      width: 300px !important;
    }
  }
  .admin-content {
    margin-left: 0;
  }
}

// z-depth helpers from MaterializeCSS
// see https://github.com/FezVrasta/bootstrap-material-design/issues/1109

.z-depth-0 {
  box-shadow: none !important;
}

.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.z-depth-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

// animations
// see: http://blog.aurelia.io/2015/07/17/animating-apps-with-aurelia-part-1/
.au-stagger {
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.fade-inout-updown {
  &.au-enter {
    opacity: 0 !important;
  }
  &.au-enter-active {
    @include animation(fadeInDown .3s);
  }
  &.au-leave-active {
    @include animation(fadeOutUp .3s);
  }
}
