resource-list-metadata-filter {
  .filter-container {
    display: inline;
    .filter-icon {
      cursor: pointer;
    }
    form {
      .filter-input {
        padding: 0 8px;
        line-height: 28px;
        border: 1px solid #aaa;
        border-radius: 4px;
        color: black;
      }
      button {
        background-color: transparent;
      }
    }
    input[type=checkbox] {
      display: none;
    }
    input[type=checkbox]:checked + form {
      display: inline;
    }
  }
}
