@import "../../../common/styles";

$input-box-minimum-width: 100px;
$input-box-maximum-width: 200px;

resource-list-metadata-filter {
  white-space: nowrap;
  icon {
    cursor: pointer;
    &.orange {
      color: $orange;
    }
  }
  form {
    display: inline-block;
    .form-control {
      display: inline;
      min-width: $input-box-minimum-width;
      max-width: $input-box-maximum-width;
    }
  }
}
