<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <title>Błąd - {{ applicationName }}</title>
    {% include 'spa-components.twig' %}
</head>
<body>
<h1>Błąd</h1>
<p>Strona, na którą trafiłeś {{ responseStatus == 404 ? 'nie istnieje' : 'spowodowała błąd aplikacji' }}.</p>
<p>{{ exception.message }}</p>
<p>{{ (exception.params ?? ( exception.previous.params ?? '')) | json_encode }}</p>
</body>
</html>
