<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <title>Strona główna - {{ applicationName }}</title>
    {% include 'spa-components.twig' %}
</head>
<body>
<div class="vue-container">
    <h1>{{ applicationName }}</h1>

    <div v-if="$user">
        Zalogowany jako ${ $user.username }
        <a href="/admin"
            v-if="$user.isAdmin">
            Panel administracyjny
        </a>
        <a href="/logout">
            Wyloguj
        </a>
    </div>
    <div v-else>
        <a href="/login">
            Zaloguj się
        </a>
    </div>
</div>
</body>
</html>
