@import "../../styles";

@mixin flag-icon($flag-width) {
  display: inline-block;
  width: $flag-width + 7px;
  vertical-align: text-bottom;
  text-align: left;
  img {
    @include shadow-z-1;
    width: $flag-width;
  }
}

.flag-icon-xs {
  @include flag-icon(20px);
}

.flag-icon-sm {
  @include flag-icon(30px);
}
