<template>
    <require from="common/components/dropdown-select/dropdown-select"></require>

    <div if.bind="totalNumberOfElements && elementsPerPage && currentPageNumber"
        class="pagination-page-numbers">
        <div if.bind="currentPageNumber != 1">
            <a click.delegate="currentPageNumber = 1">${pageIdentifier(1, elementsPerPage, totalNumberOfElements)}</a>
            <icon name="squares"></icon>
        </div>
        <div if.bind="currentPageNumber - 2 - numberOfAdditionalPageNumbersBeforeCurrentPageNumber - 1 == 1">
            <a click.delegate="currentPageNumber = 2">${pageIdentifier(2, elementsPerPage, totalNumberOfElements)}</a>
            <icon name="squares"></icon>
        </div>
        <div else
            if.bind="currentPageNumber - 2 - numberOfAdditionalPageNumbersBeforeCurrentPageNumber - 1 > 1">
            <span class="ellipsis">…</span>
            <icon name="squares"></icon>
        </div>
        <div class="with-ellipsis different-direction">
            <span repeat.for="pageNumber of additionalPageNumbersBeforeCurrentPageNumber">
                <a click.delegate="currentPageNumber = pageNumber">${pageIdentifier(pageNumber, elementsPerPage, totalNumberOfElements)}</a>
                <icon name="squares"></icon>&lrm;</span>
        </div>
        <div if.bind="currentPageNumber > 2">
            <a click.delegate="currentPageNumber = currentPageNumber - 1">${pageIdentifier(currentPageNumber - 1, elementsPerPage, totalNumberOfElements)}</a>
            <icon name="squares"></icon>
        </div>
        <div>
            <span class="current-page-number">${pageIdentifier(currentPageNumber, elementsPerPage, totalNumberOfElements)}</span>
            <icon if.bind="currentPageNumber < numberOfPages"
                name="squares"></icon>
        </div>
        <div if.bind="currentPageNumber < numberOfPages - 1">
            <a click.delegate="currentPageNumber = currentPageNumber + 1">${
                pageIdentifier(currentPageNumber + 1, elementsPerPage, totalNumberOfElements)}</a>
            <icon name="squares"></icon>
        </div>
        <div class="with-ellipsis">
            <span repeat.for="pageNumber of additionalPageNumbersAfterCurrentPageNumber"><a click.delegate="currentPageNumber
                = pageNumber">${pageIdentifier(pageNumber, elementsPerPage, totalNumberOfElements)}</a>
                <icon name="squares"></icon>
            </span>
        </div>
        <div if.bind="numberOfPages - numberOfAdditionalPageNumbersAfterCurrentPageNumber - 1 - currentPageNumber - 1 == 1">
            <a click.delegate="currentPageNumber = numberOfPages - 1">${pageIdentifier(numberOfPages - 1, elementsPerPage, totalNumberOfElements)}</a>
            <icon name="squares"></icon>
        </div>
        <div else
            if.bind="numberOfPages - numberOfAdditionalPageNumbersAfterCurrentPageNumber - 1 - currentPageNumber - 1 > 1">
            <span class="ellipsis">…</span>
            <icon name="squares"></icon>
        </div>
        <div if.bind="numberOfPages && currentPageNumber < numberOfPages">
            <a click.delegate="currentPageNumber = numberOfPages">${pageIdentifier(numberOfPages, elementsPerPage, totalNumberOfElements)}</a>
        </div>
    </div>

    <div if.bind="!hideElementsPerPageDropdown && elementsPerPage"
        class="pagination-dropdown-with-label">
        <span>${'Results per page' | t}:</span>
        <dropdown-select values.bind="elementsPerPageDropdownOptions"
            value.bind="selectedElementsPerPageDropdownOption"
            hide-search-box
            hide-clear-button
            use-computed-width>
            <template replace-part="option-template">
                ${option}
            </template>
        </dropdown-select>
    </div>
</template>
