@import "../../styles";
@import "../page-loading-indicator/page-loading-indicator";

$default-padding-or-margin-of-elements: $default-gap-size / 2;

$top-bar-title-with-breadcrumbs-flex-grow: 10;
$resource-class-name-font-size: $subtitle-font-size;
$breadcrumbs-font-size: 11px;
$page-title-background-color: white;
$breadcrumbs-and-options-text-color: $grey;

$options-flex-grow: 1;
$options-background-color: $light-grey;
$options-background-color-on-hover: $grey;
$options-text-color-on-hover: white;
$label-with-user-name-line-height: 16px;
$label-with-user-name-font-size: 12px;
$label-with-computer-ip-number-line-height: 15px;
$label-with-computer-ip-number-font-size: 11px;

$second-row-background-color: $blue;
$second-row-text-color: white;
$dropdown-menu-items-text-color: $blue;
$dropdown-menu-items-background-color-on-hover: $blue;
$dropdown-menu-items-text-color-on-hover: white;
$second-row-background-color-of-active-elements-on-hover: white;
$second-row-text-color-of-active-elements-on-hover: $blue;

$navigation-bar-height-on-smaller-screens: 50px;
$navigation-bar-border-with-shadow-size-on-smaller-screens: 2px;

top-bar {
  position: relative;
  @include transition(color $default-transition-duration, background-color $default-transition-duration);
  .first-row {
    display: flex;
    flex-wrap: wrap-reverse;
    .top-bar-title-with-breadcrumbs {
      display: flex;
      flex-grow: $top-bar-title-with-breadcrumbs-flex-grow;
      align-items: center;
      max-width: 100%;
      padding: $default-padding-or-margin-of-elements / 2 $default-padding-or-margin-of-elements;
      background-color: $page-title-background-color;
      & > div {
        max-width: inherit;
        top-bar-title {
          font-size: $resource-class-name-font-size;
          font-weight: bold;
        }
      }
      breadcrumbs {
        font-size: $breadcrumbs-font-size;
        color: $breadcrumbs-and-options-text-color;
      }
    }
    .options {
      display: flex;
      flex-grow: $options-flex-grow;
      flex-wrap: wrap;
      background-color: $options-background-color;
      color: $breadcrumbs-and-options-text-color;
      overflow: hidden;
      & > * {
        display: flex;
        &:not(.exit-and-logout-buttons), &.exit-and-logout-buttons > * {
          padding: $default-padding-or-margin-of-elements;
        }
        &:not(.exit-and-logout-buttons) {
          align-items: center;
        }
      }
      a {
        color: inherit;
        @include transition(color $default-transition-duration, background-color $default-transition-duration);
        &:hover {
          background-color: $options-background-color-on-hover;
          color: $options-text-color-on-hover;
        }
      }
      .user-data {
        &, & > div {
          overflow: hidden;
        }
        span {
          display: block;
          line-height: $label-with-user-name-line-height;
          font-size: $label-with-user-name-font-size;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          current-user-label {
            font-weight: bold;
          }
          &:last-child {
            line-height: $label-with-computer-ip-number-line-height;
            font-size: $label-with-computer-ip-number-font-size;
          }
        }
      }
      .exit-and-logout-buttons {
        display: flex;
        margin-left: auto;
        flex-wrap: wrap;
        overflow: hidden;
        & > * {
          display: flex;
          align-items: center;
          font-weight: bold;
          text-transform: uppercase;
          overflow: hidden;
          &, & > * {
            padding-left: $default-padding-or-margin-of-elements / 2;
            padding-right: $default-padding-or-margin-of-elements / 2;
          }
          &:hover, &:focus {
            text-decoration: none;
          }
          span {
            font-size: inherit;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }
  .second-row {
    display: flex;
    background-color: $second-row-background-color;
    flex-wrap: wrap;
    & > top-bar-search form {
      padding-top: $default-padding-or-margin-of-elements / 2;
      padding-bottom: $default-padding-or-margin-of-elements / 2;
      & > :not(.search-bar-with-button), .search-bar-with-button > :not(input) {
        padding: $default-padding-or-margin-of-elements / 2 $default-padding-or-margin-of-elements
          $default-padding-or-margin-of-elements / 2 $default-padding-or-margin-of-elements;
      }
      .search-bar-with-button > input {
        margin: $default-padding-or-margin-of-elements / 2 $default-padding-or-margin-of-elements
          $default-padding-or-margin-of-elements / 2 $default-padding-or-margin-of-elements;
      }
    }
    & > div {
      display: flex;
      margin-left: auto;
      & > :not(.dropdown-menu) {
        display: flex;
        align-items: center;
        padding: $default-padding-or-margin-of-elements;
      }
      .dropdown-menu {
        left: initial;
        right: 0;
        a {
          color: $dropdown-menu-items-text-color;
          @include transition(color $default-transition-duration, background-color $default-transition-duration);
          &:hover {
            background-color: $dropdown-menu-items-background-color-on-hover;
            color: $dropdown-menu-items-text-color-on-hover;
          }
        }
      }
    }
    span, metadata-chooser, button, a {
      color: $second-row-text-color;
    }
    button, a {
      @include transition(color $default-transition-duration, background-color $default-transition-duration);
    }
    button:hover, a:hover, a[aria-expanded="true"] {
      background-color: $second-row-background-color-of-active-elements-on-hover;
      color: $second-row-text-color-of-active-elements-on-hover;
    }
  }
  icon {
    height: 22px;
    &[name=user-2] {
      height: 26px;
    }
  }
}

@include on-sm-and-down {
  top-bar {
    page-loading-indicator {
      bottom: -$spinner-default-height - $spinner-margin-size;
    }
    .in + page-loading-indicator {
      top: $navigation-bar-height-on-smaller-screens - $navigation-bar-border-with-shadow-size-on-smaller-screens;
      bottom: unset;
    }
  }
}
