<template>
    <require from="users/current/current-user-label"></require>
    <require from="./gui-language-switcher/gui-language-switcher"></require>
    <require from="./top-bar-title"></require>
    <require from="./top-bar-search/top-bar-search"></require>
    <require from="common/components/page-loading-indicator/page-loading-indicator"></require>
    <require from="common/components/breadcrumbs/breadcrumbs"></require>

    <div class="first-row">
        <div class="top-bar-title-with-breadcrumbs">
            <div>
                <top-bar-title></top-bar-title>
                <breadcrumbs></breadcrumbs>
            </div>
        </div>
        <div class="options">
            <a route-href="tasks">
                <icon name="tasks"></icon>
            </a>
            <a if.bind="'OPERATOR' | hasRole:'users'"
                route-href="route: resources/details; params.bind: {id: currentUser.userData.id}">
                <icon name="user-3"></icon>
            </a>
            <a route-href="about">
                <icon name="information"></icon>
            </a>
            <div class="user-data">
                <div>
                    <span if.bind="'ADMIN' | hasRole">
                        ${'navigation::ADMINISTRATOR' | t}:
                        <current-user-label></current-user-label>
                    </span>
                    <span else>
                        ${'navigation::OPERATOR' | t}:
                        <current-user-label></current-user-label>
                    </span>
                    <span>${'navigation::from computer' | t}: ${userIp}</span>
                </div>
            </div>
            <div class="exit-and-logout-buttons">
                <a href="/"
                    target="_top">
                    <icon name="undo-3"></icon>
                    <span>${ applicationName }</span>
                </a>
                <a href="/logout"
                    target="_top">
                    <icon name="logout"></icon>
                    <span>${'navigation::Log Out' | t}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="second-row">
        <top-bar-search></top-bar-search>
        <div>
            <gui-language-switcher></gui-language-switcher>
        </div>
    </div>
    <page-loading-indicator loading.bind="router.isNavigating"></page-loading-indicator>
</template>
