parameters:
  secret: soo_secret
doctrine:
  dbal:
    password: postgres
repeka:
  pk_auth:
    wsdl: http://soap.biblos.pk.edu.pl/soap.php?WSDL
    options:
      login: pk
      password: qwerty
    local_accounts_enabled: true
