parameters:
  secret: soo_secret
doctrine:
  dbal:
    password: postgres
repeka:
  pk_auth:
    wsdl: http://soap.biblos.pk.edu.pl/soap.php?WSDL
    options:
      login: pk
      password: qwerty
    local_accounts_enabled: true
  xml_import:
    url: 'http://koha.biblos.pk.edu.pl/cgi-bin/koha/opac-export-simple.pl?op=export&format=marcxml&skip_entity_encoding=1&barcode='
