parameters:
  secret: soo_secret
doctrine:
  dbal:
    password: CHANGE_ME_BEFORE_FIRST_LAUNCH
repeka:
  application_url: http://repeka.local
  resource_classes:
    - name: books
      icon: publish-4
      admins:
        - Username: admin
    - name: dictionaries
      icon: dictionary
      admins:
        - Username: admin
    - name: users
      icon: user
      admins:
        - Username: admin
    - name: cms
      icon: html
      admins:
        - Username: admin
  metadata_groups:
    - id: basic
      label:
        EN: Basic metadata
        PL: Podstawowe metadane
    - id: cms
      label:
        EN: Metadata used in CMS
        PL: Metadane używane w CMS
  pk_auth:
    wsdl: http://soap.biblos.pk.edu.pl/soap.php?WSDL
    options:
      login: pk
      password: qwerty
    local_accounts_enabled: true
  xml_import:
    koha: 'http://koha.biblos.pk.edu.pl/cgi-bin/koha/opac-export-simple.pl?op=export&format=marcxml&skip_entity_encoding=1&barcode='
  templating:
    templates_resource_class: cms
    templates:
      homepage: redo/home.twig
      login_form: redo/login-form.twig
      error_page: redo/error-page.twig
  expose_endpoints:
    /resources/{resourceId}:
      template: redo/resource-details/resource-details.twig
    /search/{phrase}:
      template: redo/search/search-results-page.twig
      fts:
        searchable_metadata_ids: [-5, tytul, opis, url, urlLabel]
        filterable_metadata_ids: [tytul, parent, skanista, nadzorujacy]
        searchable_resource_classes: [books]
        facets: [kindId, skanista]
    /resources/{resourceId}/bibtex:
      template: bibtex/bibtex.twig
      headers:
        Content-Type: 'text/plain'
    /deposit/{phase}:
      template: redo/deposit.twig
      deposit:
        relationship_resource_kind_ids: [1, 2]
