parameters:
  secret: soo_secret
doctrine:
  dbal:
    password: CHANGE_ME_BEFORE_FIRST_LAUNCH
repeka:
  application_url: http://repeka.local
  resource_classes:
    - name: books
      icon: publish-4
      admins:
        - Username: admin
    - name: dictionaries
      icon: dictionary
      admins:
        - Username: admin
    - name: users
      icon: user
      admins:
        - Username: admin
    - name: cms
      icon: html
      admins:
        - Username: admin
  pk_auth:
    wsdl: http://soap.biblos.pk.edu.pl/soap.php?WSDL
    options:
      login: pk
      password: qwerty
    local_accounts_enabled: true
  xml_import:
    koha: 'http://koha.biblos.pk.edu.pl/cgi-bin/koha/opac-export-simple.pl?op=export&format=marcxml&skip_entity_encoding=1&barcode='
  templating:
    templates_resource_class: cms
    templates:
      homepage: redo/home.twig
      login_form: redo/login-form.twig
  expose_endpoints:
    /resources/{resourceId}:
      metadata: detailsPage
    /search/{phrase}:
      template: redo/search.twig
      fts:
        searchable_metadata_ids: [-5, tytul, opis, url, urlLabel]
        searchable_resource_classes: [books]
        facets: [kindId, skanista]
