COMPOSE_PROJECT_NAME=repeka
DATABASE_PASSWORD=CHANGE_ME_BEFORE_FIRST_LAUNCH

# paths should be relative to repeka/docker directory
VOLUME_ELASTICSEARCH=../var/volumes/elasticsearch
VOLUME_POSTGRES=../var/volumes/postgres
VOLUME_METRICS=../var/volumes/metrics

PORT_HTTP=80
PORT_HTTPS=443

# set to true if you want port 80 to redirect to https
REPEKA_SSL_ONLY=false

DOMAIN_NAME=
ADMIN_EMAIL=

COMPOSE_PATH_SEPARATOR=:
COMPOSE_FILE=docker-compose.yml:docker-compose.standalone.yml:docker-compose.persistent.yml:docker-compose.metrics.yml:docker-compose.elasticsearch.yml
