COMPOSE_PROJECT_NAME=repeka
DATABASE_PASSWORD=CHANGE_ME_BEFORE_FIRST_LAUNCH

# paths should be relative to repeka/docker directory
VOLUME_ELASTICSEARCH=../var/volumes/elasticsearch
VOLUME_POSTGRES=../var/volumes/postgres
VOLUME_METRICS=../var/volumes/metrics

PORT_HTTP=80
PORT_HTTPS=443

COMPOSE_PATH_SEPARATOR=:
COMPOSE_FILE=docker-compose.yml:docker-compose.persistent.yml:docker-compose.metrics.yml
