{
  "mappings": {
    "Imię": {
      "key": "first_name"
    },
    "Nazwisko": {
      "key": "last_name"
    },
    "Email": {
      "key": "email_last_used"
    },
    "Miasto": {
      "key": "city"
    },
    "Ulica": {
      "key": "street"
    },
    "Pesel": {
      "key": "pesel"
    },
    "Kategoria": {
      "key": "categorycode"
    },
    "Wydział użytkownika": {
      "key": "department"
    },
    "Identyfikator wydziału": {
      "key": "dpcode"
    },
    "Instytut": {
      "key": "institute_desc"
    },
    "Identyfikator instytutu": {
      "key": "institute"
    }
  }
}
