@import "../styles";

@mixin repeka-logo($size, $firstColor: #f47920, $secondColor: #00609e) {
  @include square($size);
  padding-top: $size / 10;
  display: inline-block;
  .leaves {
    position: relative;
    left: $size * .28;
  }
  .leaf {
    position: relative;
    .atom {
      position: absolute;
      top: 0;
      width: $size / 2;
      height: $size * .36;
      overflow: hidden;
      &:before {
        position: relative;
        top: -$size;
        left: -$size / 2;
        content: " ";
        display: block;
        width: $size;
        height: $size * 1.5;
        border: $size * .07 solid $firstColor;
        border-radius: $size / 2;
      }
      &:first-child {
        left: ($size / 2) - 2px;
        &:before {
          left: 0px;
        }
      }
    }
    &:first-child {
      @include rotate(45deg);
    }
    &:nth-child(2) {
      .atom:before {
        border-color: $secondColor;
      }
      top: $size * .64;
      left: $size * .1;
      @include rotate(135deg);
    }
    &:nth-child(3) {
      top: $size * .8;
      left: -$size / 2;
      @include rotate(215deg);
    }
    &:nth-child(4) {
      .atom:before {
        border-color: $secondColor;
      }
      top: $size*.1;
      left: -$size * .67;
      @include rotate(-45deg);
    }
  }
}

.repeka-logo {
  &.admin-navbar {
    @include repeka-logo(44px, darken(#f47920, 8%));
  }
  &.about {
    @include repeka-logo(300px);
  }
}
