@import "../../common/styles";

.resource-details {
  resource-metadata-table {
    padding: $default-gap-size;
  }
  resource-form, resources-list {
    flex: 1;
  }
  resource-workflow, user-roles {
    display: block;
    padding: $default-gap-size;
  }
}

