@import "../../common/styles";

.resource-details {
  #children, #relationships, #audit {
    height: 100%;
    overflow: hidden;
  }
  #children > resources-list, #relationships > div, #audit > audit {
    overflow: auto;
    height: 100%;
  }
  #audit {
    .audit-entry-details {
      resource-link {
        display: none;
      }
    }
  }
  resource-metadata-table {
    padding: $default-gap-size;
  }
  resource-workflow, user-roles {
    display: block;
  }
  user-roles {
    &, & > * {
      padding-top: $default-gap-size / 2;
      padding-bottom: $default-gap-size / 2;
    }
    & > :not(.alert) {
      padding-left: $default-gap-size;
      padding-right: $default-gap-size;
    }
  }

  #relationships > div > entity-chooser {
    padding: $default-gap-size;
    height: 10%;
  }
  #relationships > div > resources-list {
    overflow: auto;
    height: 90%;
  }
}

