{% extends "default.html.twig" %}
{% set page_title = "Brak dostepu" %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            {% include "logo_repeka.html.twig" %}
            <p><h2>Nie masz dostępu do tej strony.</h2></p>
        </div>
    </div>
{% endblock %}