{% extends "RepekaWebsiteBundle::layout-with-navbar.html.twig" %}

{% set page_title = 'Strona główna' %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group label-floating">
                    <label class="control-label"
                        for="resource-search">Szukaj:</label>
                    <div class="input-group">
                        <input type="text"
                            id="resource-search"
                            class="form-control">
                        <span class="input-group-btn">
                            <button type="button"
                                class="btn">
                                <span class="icon">
                                    <svg viewBox="0 0 1 1">
                                        <use xlink:href="/files/icons.svg#search"></use>
                                    </svg>
                                </span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
