<template>
    <require from="select2/css/select2.min.css"></require>
    <require from="resources-config/metadata/metadata-label"></require>

    <select ref="dropdown"
        disabled.bind="disabled || isFetchingOptions">
        <option></option>
        <option repeat.for="option of values"
            value.bind="$index"
            model.bind="option">
            <template replaceable
                part="option-template">
                ${option | metadataLabel}
            </template>
        </option>
    </select>
    <throbber if.bind="isFetchingOptions"></throbber>
</template>
