<template>
    <require from="select2/css/select2.min.css"></require>

    <select ref="dropdown"
        disabled.bind="disabled || isFetchingOptions">
        <option></option>
        <option repeat.for="option of values"
            value.bind="$index"
            model.bind="option">
            <template part="option-template"
                replaceable>
                ${option.name}
            </template>
        </option>
    </select>

    <throbber if.bind="isFetchingOptions"></throbber>
</template>
