@import "../../styles";

$clear-button-font-size: 21px;
$single-selection-arrow-container-width: 24px;
$multiple-selection-clear-button-width: 12px;
$border-width: 1px;

dropdown-select, entity-chooser, metadata-chooser, resource-kind-metadata-chooser,
audit-command-name-chooser, audit-user-chooser, audit-resource-kind-chooser, resource-kind-chooser, flags-select, workflow-place-chooser, workflow-chooser {
  display: flex;
  align-items: center;
  overflow: hidden;
  .select2-container {
    flex: 1;
    overflow: hidden;
    &.select2-container--focus {
      .select2-selection {
        border-color: $grey;
      }
    }
    &.select2-container--open {
      .select2-selection--single {
        .select2-selection__arrow {
          b {
            border-bottom-color: $grey;
          }
        }
      }
    }
    .select2-selection__clear {
      font-size: $clear-button-font-size;
    }
    .select2-selection--single {
      min-height: $default-input-box-height;
      height: auto;
      .select2-selection__rendered {
        line-height: $default-input-box-height - 2 * $border-width;
        padding-right: $single-selection-arrow-container-width;
        &, .select2-selection__placeholder {
          color: $dark-grey;
        }
        .select2-selection__clear {
          margin-left: $default-gap-size / 2;
          margin-right: 0;
        }
      }
      .select2-selection__arrow {
        width: $single-selection-arrow-container-width;
        min-height: inherit;
        b {
          border-top-color: $grey;
        }
      }
    }
    .select2-selection--multiple {
      min-height: $default-input-box-height;
      &, & > .select2-selection__rendered {
        display: flex;
        flex-wrap: wrap;
      }
      & > .select2-selection__rendered {
        align-items: center;
        padding-top: $default-gap-size / 8;
        padding-bottom: $default-gap-size / 8;
        padding-left: $default-gap-size / 4;
        padding-right: 2 * $default-gap-size / 4 + $multiple-selection-clear-button-width + $default-gap-size / 4;
        & > * {
          margin: $default-gap-size / 8 $default-gap-size / 4;
        }
        .select2-selection__clear {
          position: absolute;
          right: $default-gap-size / 4;
          line-height: $multiple-selection-clear-button-width;
        }
        .select2-search {
          flex: 1;
          input {
            width: 100% !important;
            margin-top: 0;
          }
        }
      }
    }
    .select2-selection__clear, .select2-selection--multiple .select2-selection__choice__remove {
      color: $grey;
      @include transition(color $default-transition-duration);
      &:hover {
        color: $dark-grey;
      }
    }
  }
  throbber {
    margin-left: $default-gap-size / 2;
    &.icon {
      display: inherit;
    }
  }
}
