{% extends "RepekaWebsiteBundle::layout-with-navbar.html.twig" %}
{% set page_title = "Brak dostepu" %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <redo-logo style="width: 100px"></redo-logo>
            <p><h2>Nie masz dostępu do tej strony.</h2></p>
        </div>
    </div>
{% endblock %}
