<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ applicationName }}</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
        type="text/css"
        href="/fonts.css">
    <link rel="stylesheet"
        href="/jspm_packages/github/twbs/bootstrap@3.3.7/css/bootstrap.min.css">
    <style type="text/css">
        body > #nprogress {
            display: none;
        }

        body > [aurelia-app] {
            display: flex;
            height: 100vh;
        }

        .splash {
            box-sizing: border-box;
            width: 100%;
            padding: 10% 0 0 0;
            text-align: center;
        }

        .splash .message {
            font-size: 72px;
            line-height: 72px;
            text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            margin-bottom: 25px;
        }
    </style>
</head>

<body>
<div aurelia-app="main"
    class="repeka-admin-panel">
    <div class="splash">
        <div class="message">{{ applicationName }}</div>

        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="progress progress-striped active"
                    style="height: 12px">
                    <div class="progress-bar"
                        style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'spa-components.twig' %}
</body>
</html>
