{% extends "RepekaWebsiteBundle::layout-with-navbar.html.twig" %}
{% set page_title = 'O projekcie' %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <redo-logo style="width: 100px"></redo-logo>
            <h2>
                <repeka-version></repeka-version>
            </h2>
        </div>
    </div>
{% endblock %}
