{% extends "redo/layout.twig" %}

{% set page_title = 'Strona główna' %}

{% block content %}
    {% include "redo/title-bar.twig" %}
    {% include "redo/menu.twig" %}
    <div class="home-page-content">
        <div class="title-with-search-bar">
            <h1 class="title"><strong>Szukaj w zasobach repozytorium</strong></h1>
            {% include "redo/search/search-bar.twig" %}
        </div>
        {% include "redo/home/statistics.twig" %}
    </div>
    {% include "redo/footer.twig" %}
{% endblock %}
