{% extends "redo/layout.twig" %}

{% set page_title = 'Home page' | trans %}

{% block content %}
    {% include "redo/title-bar.twig" %}
    {% include "redo/menu.twig" %}
    <div class="home-page-content"
        role="main">
        <div class="title-with-search-bar">
            <h1 class="title"><strong>{{ 'Search in repository resources' | trans }}</strong></h1>
            {% include "redo/search/search-bar.twig" %}
        </div>
        {% include "redo/home/statistics.twig" %}
    </div>
    {% include "redo/footer.twig" %}
{% endblock %}
