@import "../../common/styles";

statistics-view {
  & > :not(.page-subtitle):not(.statistics-container):not(redo-footer) {
    padding-left: $default-gap-size / 2;
    padding-right: $default-gap-size / 2;
  }
  .page-subtitle {
    padding: $default-gap-size $default-gap-size $default-gap-size / 2;
  }
  .with-sticky-button {
    flex-shrink: 0; // Required by Chromium.
    padding-left: $default-gap-size / 2;
    padding-right: $default-gap-size / 2;
    .simple-form {
      & > * {
        @include form-element();
      }
    }
  }
  .statistics-container {
    .statistics-content {
      h3 {
        margin: 10px 0 10px 15px;
      }
      statistics-table {
        margin-bottom: $default-gap-size;
        display: block;
        overflow-x: auto;
      }
      .statistics-download-links {
        text-align: center;
        > a {
          display: inline-block;
          margin: 0 5px;
        }
      }
      padding-bottom: $default-gap-size * 2;
    }
  }
}
