@import "../../../common/styles";

$color: $orange;
$progress-bar-height: $default-gap-size / 4;
$default-progress-bar-box-shadow-with-changed-color: 0 0 10px $color, 0 0 5px $color;
$spinner-default-height: 18px;
$spinner-margin-size: 5px;

page-loading-indicator {
  pointer-events: none;
  position: absolute;
  display: block;
  width: 100%;
  height: $spinner-margin-size + $spinner-default-height;
  &.nprogress-custom-parent {
    position: absolute;
  }
  #nprogress {
    display: inherit;
    .bar {
      height: $progress-bar-height;
      background: $color;
    }
    .peg {
      box-shadow: $default-progress-bar-box-shadow-with-changed-color;
    }
  }
}
