@import "../../../common/styles";

$color: #8bc34a;
$spinner-default-height: 18px;
$spinner-margin-size: 5px;

page-loading-indicator {
    position: absolute;
    display: block;
    width: 100%;
    height: $spinner-margin-size + $spinner-default-height;
    &.nprogress-custom-parent {
        position: absolute;
    }
    #nprogress {
        display: inherit;
        .bar {
            background: $color;
        }
        .spinner {
            top: $spinner-margin-size;
            right: $spinner-margin-size;
            .spinner-icon {
                border-top-color: $color;
                border-left-color: $color;
            }
        }
    }
}

#nprogress {
    display: none;
}
