@import "../common/styles";

$minimum-width-of-input-field-for-dynamic-column: 75px;

audit {
  & > :not(.page-subtitle):not(.table-container):not(redo-footer) {
    padding-left: $default-gap-size / 2;
    padding-right: $default-gap-size / 2;
  }
  .page-subtitle {
    padding: $default-gap-size $default-gap-size $default-gap-size / 2;
  }
  .with-sticky-button {
    flex-shrink: 0; // Required by Chromium.
    padding-left: $default-gap-size / 2;
    padding-right: $default-gap-size / 2;
    .simple-form {
      & > * {
        @include form-element();
      }
    }
  }
  pagination {
    display: block;
    &:last-of-type {
      padding-bottom: $default-gap-size;
    }
  }
  table {
    .input-with-remove-button {
      display: flex;
      input {
        min-width: $minimum-width-of-input-field-for-dynamic-column;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    toggle-button {
      height: $default-input-box-height;
      button:only-child {
        padding-left: $default-gap-size / 2;
        padding-right: $default-gap-size / 2;
      }
    }
  }
  .failure {
    td {
      background-color: rgba($red, .2);
    }
  }
}
