@import "../common/styles";

.audit-page {
  & > div {
    &, & > * {
      padding: $default-gap-size / 4;
    }
    .page-title {
      display: block;
    }
  }

  table {
    .failure {
      td {
        background-color: rgba($red, .2);
      }
    }
  }
}
