@import "../common/styles";

$minimum-width-of-input-field-for-dynamic-column: 75px;

.audit-page {
  & > div {
    &, & > * {
      padding: $default-gap-size / 4;
    }
    .page-title, resource-contents-yaml-filter {
      display: block;
    }
  }

  table {
    .input-with-remove-button {
      display: flex;
      input {
        min-width: $minimum-width-of-input-field-for-dynamic-column;
      }
      remove-button {
        margin-left: $default-gap-size / 4;
        toggle-button, button {
          height: 100%;
        }
        button:only-child {
          padding-left: $default-gap-size / 2;
          padding-right: $default-gap-size / 2;
        }
      }
    }
  }
  .failure {
    td {
      background-color: rgba($red, .2);
    }
  }
}
