{% extends "layout.html.twig" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col l6 offset-l3">
                <div class="section center-align">
                    <pre class="left-align teal-text"
                        style="display: inline-block">
██████╗ ███████╗██████╗ ███████╗██╗  ██╗ █████╗
██╔══██╗██╔════╝██╔══██╗██╔════╝██║ ██╔╝██╔══██╗
██████╔╝█████╗  ██████╔╝█████╗  █████╔╝ ███████║
██╔══██╗██╔══╝  ██╔═══╝ ██╔══╝  ██╔═██╗ ██╔══██║
██║  ██║███████╗██║     ███████╗██║  ██╗██║  ██║
╚═╝  ╚═╝╚══════╝╚═╝     ╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝</pre>
                </div>
                <h5 class="indigo-text center-align">Formularz logowania</h5>
                <div class="container"
                    id="login-form">
                    <div class="z-depth-1 grey lighten-4 row"
                        style="padding: 32px 48px 0px 48px">
                        <form class="col s12"
                            method="post"
                            name="loginForm"
                            @submit.prevent="getToken">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input name="username"
                                        type="text"
                                        id="username"
                                        class="validate"
                                        v-bind:class="{invalid: loginError}">
                                    <label for="username"
                                        data-error="Logowanie nieudane">Nazwa użytkownika</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input name="password"
                                        type="password"
                                        id="password"
                                        class="validate"
                                        v-bind:class="{invalid: loginError}">
                                    <label for="password">Hasło</label>
                                </div>
                            </div>

                            <div class="row">
                                <button type="submit"
                                    :disabled="authenticating"
                                    class="col s12 btn btn-large waves-effect teal">
                                    Zaloguj
                                    <i class="fa fa-sign-in fa-fw right"
                                        v-bind:class="{'fa-sign-in': !authenticating, 'fa-circle-o-notch fa-spin': authenticating}"
                                        style="margin-left: -30px;"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        new Vue({
            el: '#login-form',
            data: {
                loginError: false,
                authenticating: false
            },
            methods: {
                getToken: function () {
                    var self = this;
                    self.authenticating = true;
                    self.loginError = false;
                    $.ajax({
                        method: 'post',
                        url: '/api/token',
                        data: $(document.forms.loginForm).serialize(),
                        success: function () {
                            window.location.href = '/';
                        },
                        error: function () {
                            self.authenticating = false;
                            self.loginError = true;
                        }
                    })
                }
            }
        });
    </script>
{% endblock %}
