@import "../../common/styles";

transition-button {
  button {
    text-align: left;
    span.additional-information {
      display: block;
      font-size: 0.75em;
      white-space: normal;
    }
  }
}
