@import "../../common/styles";

transition-button {
  @include toggle-button();
  button {
    text-align: left;
    span {
      &:not(:first-of-type) {
        display: block;
        font-size: 0.75em;
        white-space: normal;
      }
    }
  }
}
