@import "../../../common/styles";

aup-tab-content {
  flex: 1;
  overflow: hidden;
  & > .tab-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    #details.active {
      & > div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; // Required by Firefox to keep edit button sticked to right side.
        & > div {
          display: flex;
          flex-direction: row-reverse;
          flex-wrap: wrap;
          align-items: flex-start;
          & > :first-child {
            &:not(:last-child) {
              flex: 1;
              max-width: 100%;
              padding: $default-gap-size;
            }
          }
          & > :last-child:not(:first-child) {
            order: -1;
            position: sticky;
            top: 0;
            right: 0; // It works in Firefox, but not in Chrome.
          }
        }
        & > :not(div) {
          padding: $default-gap-size / 2;
        }
      }
    }
    redo-footer {
      position: sticky;
      left: 0;
    }
  }
}
