@import "../../../common/styles";

$edit-button-z-index: 1;

aup-tab-content {
  flex: 1;
  overflow: hidden;
  & > .tab-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    #details.active {
      padding: $default-gap-size / 2;
      & > div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; // Required by Firefox to keep edit button sticked to right side.
      }
    }
    redo-footer {
      position: sticky;
      left: 0;
    }
  }
  @media (max-width: $maximum-screen-width-for-mobile-layout) {
    overflow: visible;
  }
}
