aup-tab-content > .tab-content > .active > div {
  display: flex;
  & > edit-button, & > apply-transition-button {
    position: sticky;
    top: 0;
    align-self: baseline;
    margin-left: auto;
  }
}
