@import "../../../common/styles";

.metadata-details {
  metadata-form, metadata-details-list {
    padding: $default-gap-size;
  }
  metadata-list, metadata-form, resource-kinds-list {
    flex: 1;
  }
  .constraints-list {
    padding: $default-gap-size;
    .constraints-term-name {
      width: 250px;
    }
    .constraints-name {
      margin-left: 270px;
    }
  }
}
