@import "../../../common/styles";

$diagram-height: 600px;

workflow-graph-display {
  position: relative;
  display: block;
  height: $diagram-height;
  overflow: hidden;
  & > div {
    height: 100%;
    border: 1px solid $light-grey;
  }
  .disabled {
    pointer-events: none;
  }
}
