@import "../../../common/styles";

workflow-plugins-configuration {
  .plugin-name {
    display: block;
    font-size: $subtitle-font-size;
    padding: $default-gap-size / 4;
  }
  .plugins-list-element-options {
    float: right;
    padding: $default-gap-size / 4;
    [primary-icon-name="arrows-3"] svg {
      transform: rotate(45deg);
    }
  }
  .selected-plugins .list-group-item {
    padding: $default-gap-size / 4;
  }
}
