@import "../../../common/styles";

$workflow-graph-minimum-width: 60%;
$well-basic-width: 275px;

workflow-graph-editor {
  display: block;
  &.has-error {
    .workflow-editor {
      border: 1px solid $red;
    }
  }
  .workflow-editor {
    display: flex;
    workflow-graph-display {
      flex: 1;
      min-width: $workflow-graph-minimum-width;
    }
    .well {
      &.inactive {
        width: $well-basic-width;
        display: flex;
        align-items: center;
        & > span {
          text-align: center;
          color: $lightish-grey;
        }
      }
      &:not(.inactive) {
        flex-basis: $well-basic-width;
        &, & > span, & > :not(form):not(toggle-button) {
          padding: $default-gap-size / 4;
        }
        & > span {
          display: block;
          &:first-child {
            font-size: $title-font-size;
          }
        }
        &.element-properties {
          .simple-form {
            grid-column-gap: $default-gap-size / 2;
            grid-row-gap: $default-gap-size / 4;
          }
        }
        &.simulation-options {
          & > toggle-button {
            margin-top: $default-gap-size / 4;
            margin-bottom: $default-gap-size / 4;
          }
          .information-with-buttons {
            &, & > * {
              padding-top: $default-gap-size / 8;
              padding-bottom: $default-gap-size / 8;
            }
          }
          .toggle-button, toggle-button {
            width: 100%;
            justify-content: center;
          }
          .generated-transition-name {
            font-weight: normal;
            font-style: italic;
          }
          & > toggle-button {
            @include toggle-button-colors($orange);
          }
        }
      }
    }
    .panel-heading {
      border-top-left-radius: 0;
    }
  }
}
