@import "../../common/styles";

$resource-kind-chooser-minimum-width: 100px;

resource-form {
  & > span {
    display: block;
  }

  & > span, & > .workflow-place-chooser-container {
    padding: $default-gap-size / 2;
  }

  & > .alert, & > toggle-button {
    margin: $default-gap-size / 2;
  }

  & > div {
    & > icon-button {
      button {
        display: block;
        icon[size] {
          height: 40px;
        }
      }
    }
  }

  .workflow-place-chooser-container {
    line-height: inherit;
    p {
      margin-top: 0;
      font-weight: bold;
    }
    workflow-place-chooser {
      flex: 1;
    }
  }

  .resource-kind-chooser-with-cancel-button {
    display: flex;
    align-items: center;
    padding-top: $default-gap-size / 4;
    padding-bottom: $default-gap-size / 4;
    flex-wrap: wrap;
    & > * {
      padding: $default-gap-size / 4 $default-gap-size / 2;
    }
    resource-kind-chooser {
      flex: 1;
      min-width: $resource-kind-chooser-minimum-width;
    }
    cancel-button {
      margin-left: auto;
    }
  }

  .error-label {
    display: block;
    text-align: center;
    color: $red;
  }
}
