@import "../../common/styles";

resource-form {
  display: block;
  &, & > :not(form), & > form > resource-kind-chooser {
    padding: $default-gap-size / 2;
  }

  & > :not(form), resource-kind-chooser {
    display: block;
  }

  & > div {
    line-height: 0;
    & > icon-button {
      button {
        display: block;
        icon[size] {
          height: 40px;
        }
      }
    }
  }

  .error-label {
    text-align: center;
    color: $red;
  }
}
