@import "../../common/styles";

resource-form {
  & > span {
    display: block;
  }

  & > span, & > .workflow-place-chooser-container {
    padding: $default-gap-size / 2;
  }

  & > .alert, & > toggle-button {
    margin: $default-gap-size / 2;
  }

  & > div {
    & > icon-button {
      button {
        display: block;
        icon[size] {
          height: 40px;
        }
      }
    }
  }

  .workflow-place-chooser-container {
    line-height: inherit;
    p {
      margin-top: 0;
      font-weight: bold;
    }
    workflow-place-chooser {
      flex: 1;
    }
  }

  .error-label {
    display: block;
    width: 100%;
    padding: $default-gap-size / 4 $default-gap-size / 2 $default-gap-size * 3 / 4 $default-gap-size / 2;
    text-align: center;
    color: $red;
  }
}
