{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 jumbotron">
                <p>Repeka</p>
            </div>
        </div>
        <div class="row">
            {{ include('@FakeModule/someSubdir/list_admin_email_address.html.twig') }}
        </div>
    </div>
{% endblock %}