<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         strict="true"
         bootstrap="../app/autoload.php">
    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="KERNEL_CLASS" value="AppKernel"/>
    </php>

    <listeners>
        <listener class="Repeka\Tests\IntegrationTestListener" file="../src/Repeka/Tests/IntegrationTestListener.php"/>
    </listeners>

    <testsuites>
        <testsuite name="unit">
            <directory>../src/Repeka/Tests</directory>
            <exclude>../src/Repeka/Tests/Integration</exclude>
            <directory>../src/Repeka/Plugins/*/Tests</directory>
            <exclude>../src/Repeka/Plugins/*/Tests/Integration</exclude>
        </testsuite>
        <testsuite name="integration">
            <directory>../src/Repeka/Tests/Integration</directory>
            <exclude>../src/Repeka/Tests/Integration/Repository</exclude>
            <exclude>../src/Repeka/Tests/Integration/Migrations</exclude>
            <exclude>../src/Repeka/Tests/Integration/FullTextSearch</exclude>
        </testsuite>
        <testsuite name="integration-repositories">
            <directory>../src/Repeka/Tests/Integration/Repository</directory>
        </testsuite>
        <testsuite name="integration-fts">
            <directory>../src/Repeka/Tests/Integration/FullTextSearch</directory>
        </testsuite>
        <testsuite name="migrations">
            <directory>../src/Repeka/Tests/Integration/Migrations</directory>
        </testsuite>
        <testsuite name="integration-plugins">
            <directory>../src/Repeka/Plugins/*/Tests/Integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">../src/Repeka/Domain</directory>
        </whitelist>
    </filter>
</phpunit>
