{% extends "default.html.twig" %}

{% set page_title = 'Strona główna' %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group label-floating">
                    <label class="control-label"
                        for="resource-search">Szukaj:</label>
                    <div class="input-group">
                        <input type="text"
                            id="resource-search"
                            class="form-control">
                        <span class="input-group-btn">
                            <button type="button"
                                class="btn">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
