{% extends "redo/layout.twig" %}
{% block content %}
    {% include "redo/title-bar.twig" %}
    {% include "redo/menu.twig" %}
    <div class="deposit"
        role="main">
        {% block depositContent %}{% endblock %}
    </div>
    {% include "redo/footer.twig" %}
{% endblock %}
