{% extends "redo/layout.twig" %}
{% block content %}
    {% include "redo/title-bar.twig" %}
    {% include "redo/menu.twig" %}
    <div class="deposit"
        role="main">
        <div class="deposit-container">
            {% block depositContent %}{% endblock %}
        </div>
    </div>
    {% include "redo/footer.twig" %}
{% endblock %}
