{% extends "default.html.twig" %}
{% set page_title = 'O projekcie' %}
{% block content %}

    <div class="container">
        <div class="jumbotron">
            <h3>about:</h3>
            {% include "logo_repeka.html.twig" %}
        </div>
    </div>

{% endblock %}
