<template>
    <require from="./size-format"></require>
    <require from="./blob-to-url"></require>

    <input type="text"
        readonly
        class="form-control"
        placeholder="${ 'Select file' | t }"
        ref="fileNameInput">
    <input type="file"
        name="usersFile"
        files.bind="files"
        disabled.bind="disabled"
        change.delegate="fileSelected(files)">

    <div class="files-list"
        if.bind="value">
        ${value.size | sizeFormat:2}
        <img if.bind="isImage"
            src.bind="value | blobToUrl"/>
    </div>
</template>
