@import "../../styles";

$available-sizes: 0.5, 0.75, 1.25, 1.5, 1.75, 2, 2.5, 3;

icon, .icon {
    display: inline-block;
    height: 1em;
    line-height: 0;
    vertical-align: calc((#{$capital-letter-of-the-default-font-height} - 1em) / 2);

    @each $size in $available-sizes {
        &[size="#{$size}"], &[data-size="#{$size}"] {
            height: #{$size}em;
            vertical-align: calc((#{$capital-letter-of-the-default-font-height} - #{$size}em) / 2);
        }
    }

    & > svg {
        display: none; // Used to temporarily hide icons on Internet Explorer because it does not support this way of displaying them.
        display: initial; //
        height: inherit;
        fill: currentColor;
    }
}
