icon {
    & > svg {
        height: 1em;
        vertical-align: -0.125em;
        fill: currentColor;
    }
    &[size="1.25"] > svg {
        height: 1.25em;
        vertical-align: -0.25em;
    }
    &[size="1.5"] > svg {
        height: 1.5em;
        vertical-align: -0.4em;
    }
    &[size="1.75"] > svg {
        height: 1.75em;
        vertical-align: -0.5em;
    }
    &[size="2"] > svg {
        height: 2em;
        vertical-align: -0.65em;
    }
    &[size="3"] > svg {
        height: 3em;
        vertical-align: -1.15em;
    }
}
