@import "../../../../common/styles";

$input-box-minimum-width: 150px;
$search-button-icon-width: 1em;

.resource-list-dropdown-filter {
  white-space: nowrap;
  display: inline-flex; // Otherwise the search button icon may be not fully visible or not visible at all for longer phrases.
  align-items: center;
  form {
    display: inline-flex;
    align-items: center;
    padding-left: $expected-space-between-inline-block-elements-width;
    .select2 {
      min-width: $input-box-minimum-width;
      max-width: calc(100% - #{$search-button-icon-width} - #{$expected-space-between-inline-block-elements-width});
      color: $default-text-color;
    }
    button {
      margin-left: $expected-space-between-inline-block-elements-width;
    }
  }
}
