@import "../../../common/styles";
resource-metadata-values ul {
  margin-bottom: 0;
  & > li p {
    margin: 0 0 $default-gap-size / 2 0;
    white-space: pre-line;
  }
  & > li:last-child p {
    margin-bottom: 0;
  }
}

.resources-list-table .expand-collapse-submetadata-button {
  display: none;
}
