@import "../../../../common/styles";

excel-checkbox {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: $teal-500;

  .disabled {
    cursor: not-allowed;
    color: $grey-700;
  }

  .fa-stack {
    display: block;
    margin: 0 auto;
  }
}
