@import "../../../../common/styles";

$icon-height: 21px;

excel-checkbox {
  display: inline-block;
  vertical-align: middle;
  button {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    color: $blue;
    background-color: initial;
    &.disabled {
      color: $grey;
    }
    icon {
      height: $icon-height;
    }
  }
}
