@import "../../../../common/styles";

excel-checkbox {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: teal;

  .disabled {
    cursor: not-allowed;
    color: grey;
  }

  icon {
    font-size: 1.5em;
  }
}
