<template>
    <require from="common/components/flag/flag"></require>

    <a data-target="#"
        class="dropdown-toggle"
        data-toggle="dropdown">
        <flag name.bind="currentLanguage | languageFlag"></flag>
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li repeat.for="language of languages">
            <a click.delegate="select(language)"
                show.bind="language != currentLanguage">
                <flag name.one-time="language | languageFlag"></flag>
                ${'meta//translatedName' | t: {"lng": language, "defaultValue": language.toUpperCase()} }
            </a>
        </li>
    </ul>
</template>
