@import "../../common/styles";

resource-kind-form {
  width: 100%;
  & > form > .simple-form {
    & > span, resource-kind-metadata-chooser, resource-kind-constraint-editor > * {
      @include form-element();
    }

    .metadata-list-container {
      display: flex;
      flex-direction: column;
    }

    .change-order-button {
      margin-left: auto;
    }

    .metadata-list-item {
      padding: $default-gap-size / 4;
      &:first-child:not(:last-child) {
        border-top-right-radius: 0;
      }
      & > div > :not(move-up-or-down-buttons):not(.buttons), & > resource-kind-metadata-form {
        margin: $default-gap-size / 4;
      }
      & > div {
        display: flex;
        align-items: center;
        .title {
          font-size: $subtitle-font-size;
        }
        .metadata-name {
          font-weight: bold;
        }
        .metadata-id {
          color: $lightish-grey;
        }
        move-up-or-down-buttons, .buttons {
          display: flex;
          margin-left: auto;
          padding: $default-gap-size / 8;
          & > * {
            margin: $default-gap-size / 8;
          }
        }
      }
      & > resource-kind-metadata-form {
        padding: $default-gap-size /4;
      }
      &.not-valid {
        z-index: 1;
        border-color: $red;
      }
    }

    workflow-chooser + span {
      font-weight: bold;
      color: $orange;
    }
  }
}
