@import "../../common/styles";

resource-kind-form {
  width: 100%;
  .resource-kind-edit-form-metadata-item {
    padding: $default-gap-size / 4;
    & > div > :not(move-up-or-down-buttons):not(.buttons), & > resource-kind-metadata-form {
      margin: $default-gap-size / 4;
    }
    & > div {
      display: flex;
      align-items: center;
      .title {
        font-size: $subtitle-font-size;
      }
      .metadata-name {
        font-weight: bold;
      }
      .metadata-id {
        color: $lightish-grey;
      }
      move-up-or-down-buttons, .buttons {
        display: flex;
        margin-left: auto;
        padding: $default-gap-size / 8;
        & > * {
          margin: $default-gap-size / 8;
        }
      }
    }
    & > resource-kind-metadata-form {
      padding: $default-gap-size /4;
    }
    h3 {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
