@import "../../common/styles";

workflow-chooser {
  .select2-selection {
    img {
      display: none;
    }
  }
}

.workflow-chooser-dropdown-option-thumbnail {
  display: block;
  margin-top: $default-gap-size / 2;
}
