@import "../../common/styles";

workflow-icon {
  font-size: .4em;
  .fa-circle {
    font-size: 1.3em;
    margin-top: .2em;
    margin-left: -1em;
    &:first-child {
      margin-top: -.2em;
      margin-left: 1em;
    }
  }
  .fa-arrow-up {
    font-size: 1.7em;
    @include rotate(80deg);
  }

}
