@import "../../styles";
@import "../page-loading-indicator/page-loading-indicator";

$navigation-bar-height-on-smaller-screens: 50px;
$navigation-bar-border-with-shadow-size-on-smaller-screens: 2px;

.navbar-toggle {
  float: left;
}

.navbar {
  .nested-navigation-menu {
    li > a {
      color: white !important;
    }
    li.current > a {
      color: lightgreen !important;
    }
  }
  navbar-title .navbar-brand {
    font-size: 1.7em;
  }
}

@include on-sm-and-down {
  .navbar {
    page-loading-indicator {
      bottom: -$spinner-default-height - $spinner-margin-size;
    }
    .in + page-loading-indicator {
      top: $navigation-bar-height-on-smaller-screens - $navigation-bar-border-with-shadow-size-on-smaller-screens;
      bottom: unset;
    }
  }
}
