<template>
    <require from="users/current/current-user-label"></require>
    <require from="./gui-language-switcher/gui-language-switcher"></require>
    <require from="./notification-bell/notification-bell"></require>
    <require from="../sidebar/nested-navigation-menu"></require>
    <require from="./navbar-title"></require>
    <require from="./navbar-search/navbar-search"></require>
    <require from="common/components/page-loading-indicator/page-loading-indicator"></require>

    <div class="navbar navbar-default z-depth-2">
        <div class="container-fluid"></div>
        <div class="navbar-header">
            <button type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <navbar-title></navbar-title>
            <ul class="nav navbar-nav visible-xs"
                as-element="nested-navigation-menu"></ul>
            <navbar-search></navbar-search>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <notification-bell></notification-bell>
                </li>
                <li class="dropdown">
                    <gui-language-switcher></gui-language-switcher>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle"
                        data-toggle="dropdown">
                        <fa name="user fw"></fa>
                        <current-user-label></current-user-label>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/"
                            target="_top">${'nav::Front Page' | t}</a></li>
                        <li><a href="/logout"
                            target="_top">${'nav::Log Out' | t}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <page-loading-indicator loading.bind="router.isNavigating"></page-loading-indicator>
    </div>
</template>
