@import "../../../common/styles";

// https://css-tricks.com/simple-css-row-column-highlighting/
table.highlight-col-row-on-hover {
  $highlight-color: yellow;
  overflow: hidden;

  thead{
    background-color: #EEE;
  }

  tr:hover {
    background-color: $highlight-color;
  }

  td, th {
    position: relative;

    &:hover::after, &:hover::after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: -5000px;
      bottom: -5000px;
      z-index: -1;
      background-color: $highlight-color;
    }
  }
}

excel {
  .legend dd {
    line-height: 2.2;
  }
}
