@import "../../styles";

fab-add {
  margin-bottom: -56px;
}

fab-add > .btn {
  position: relative;
  z-index: 20;
  .fa-plus {
    @include transition(transform .3s ease-out);
  }
  &.opened .fa-plus {
    @include transform(rotate(45deg * 5));
  }
}
