@import "../../styles";

fab-edit > .btn {
  position: relative;
  z-index: 10;
  top: 0;
  box-shadow: none !important;
  @include transition(.3s ease-out);
  & > div {
    position: relative;
    width: 1em;
    height: 1em;
    line-height: 1em;
    icon {
      @include transition(.3s);
      position: absolute;
      left: 0;
    }
  }
  &:not(.editing) > div {
    icon[name=remove-3] {
      opacity: 0;
    }
  }
  &.editing > div {
    icon[name=edit-2] {
      @include transform(rotate(360deg));
      opacity: 0;
    }
  }
}
