{% set ancestors = [] %}
{% set ancestor = resource | metadata('parent') | first %}
{% for i in 0..9 if ancestor %}
    {% set ancestors = [ancestor] | merge(ancestors) %}
    {% set ancestor = ancestor | metadata('parent') | first %}
{% endfor %}
{% if ancestor %}
    ...
    {% block itemSuffix %}{% endblock %}
{% endif %}
{% for ancestor in ancestors %}
    {% block itemPrefix %}{% endblock %}
    {% if canView(ancestor | resource) %}
        <a href="/resources/{{ ancestor }}">
            {% block linkPrefix %}{% endblock %}
            {{ ancestor | metadata('label') }}
            {% block linkSuffix %}{% endblock %}
        </a>
    {% else %}
        <span>
            {% block labelPrefix %}{% endblock %}
            {{ ancestor | metadata('label') }}
            {% block labelSuffix %}{% endblock %}
        </span>
    {% endif %}
    {{ block('itemSuffix') }}
{% endfor %}
