.matching-select2-style {
    padding: 0 8px;
    line-height: 28px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

top-bar-search {
    form > input, .select2-container .select2-selection--single {
        width: 200px;
    }
}
