$input-box-width: 200px;
$metadata-chooser-maximum-width: 60%;

top-bar-search {
  max-width: 100%;
  metadata-chooser {
    max-width: $metadata-chooser-maximum-width;
    .select2-container  {
      min-width: $input-box-width;
    }
  }
  .input-box-matching-select2-style {
    padding: 0 8px;
    line-height: 28px;
    border: 1px solid #aaa;
    border-radius: 4px;
    width: $input-box-width;
  }
}
